[2012-09-24 16:35] bbickerton opened #3 "xmldom version 0.1.2 produces bad xml signature output"
With the latest update of xml-crypto to 0.0.7, there was also a change in the dependencies to strictly require xmldom 0.1.2 instead of >=0.1.8.  With that change, I found that the signing was producing invalid xml, specifically adding an extra <? ?> around the beginning xml tag

[code]

after signing became

[code]

If I remove that xml-crypto's xmldom@0.1.2 installation and let it use my main xml

[2012-10-01 04:41] #3 closed, assigned to nobody

[2013-01-25 15:30] tedx opened #7 "working with Axis/WSS4J web services"
I wanted to see if I can write node.js code to work with a Axis/WSS4J based web services that I maintain. I captured a request and started writing code to analyse it and familiarize myself with xml-crypto.

[code]

request.xml:

<?xml version="1.0" encoding="UTF-8"?>
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/address

[2013-05-09 09:30] ruckfull opened #8 "question"
i have a question :

i want verify the windows store receipt with x509 ;
the xml is :
<Receipt Version="1.0" ReceiptDate="2012-08-30T23:10:05Z" CertificateId="b809e47cd0110a4db043b3f73e83acd917fe1336" ReceiptDeviceId="4e362949-acc3-fe3a-e71b-89893eb4f528">
    <AppReceipt Id="8ffa256d-eca8-712a-7cf8-cbf5522df24b" AppId="55428GreenlakeApps.CurrentAppSimulatorEventTest_z7q3q7z11crfr" PurchaseDate="2

[2013-05-30 07:08] lautarobock opened #10 "<Reference/> without ID"
I think that sign verification is not working when you have just one <Reference/> tag without ID. In this case it should use the whole xml-document excluding <Signature/> Tag. But instead of this, it returns an error.
I paste an ugly patch just to clarification.

/**
- Overrides method from SignedXML (@see singed-xml.js).
- Original method do not work for reference with no IDs.
- @param doc
- @ret

[2013-06-21 20:18] metamorphy opened #14 "Windows Store Receipt doesn't validate"
Hi,

Thanks for your library.  I'm in a rush and I'd really, really be grateful if you could help me get this working with your library.  I want to be able to take one of the XML objects from the Windows store sample code:

Copy and paste one of the 2 `<Receipt>...</Receipt>` objects from here
http://msdn.microsoft.com/en-us/library/windows/apps/jj649137.aspx

and validate it with the Microsoft st

[2013-06-29 09:03] #14 closed, assigned to nobody

[2013-07-09 02:25] woloski opened #15 "latest version issues"
- is trying to load `./xpath.js` and there is no such file on the folder. And the xpath.js package is not specified on package.json. I assume you wanted to use the installed package.
- when running the tests it fails on the windows store signature test.

thanks
Matias

[2013-07-09 12:10] #15 closed, assigned to nobody

[2013-07-20 14:12] #8 closed, assigned to nobody

[2013-07-20 19:43] #10 closed, assigned to nobody

[2013-08-02 15:29] lautarobock opened #18 "Use of Releases"
Why you don't use a release management provided by github?

Don't you think that Is a better option than to put version just in package.json?

[2013-08-03 12:31] #18 closed, assigned to nobody

[2013-08-09 20:32] #7 closed, assigned to nobody

[2014-01-08 11:18] peter-murray opened #22 "xmldom dependency is a git repository"
We are having issues with the dependency in the package.json for xmldom being a git repository reference. Which is then published in npm.

We are an enterprise and do not have a direct connection to the internet, so when we use projects that then depend on this project, it cannot resolve the xmldom, as we cannot connect to github from within our enterprise.

We do have an internal npm registry, so

[2014-01-09 13:57] #22 closed, assigned to nobody

[2014-01-28 14:46] tamasflamich opened #23 "Windows 8 Receipt"
Hello,

I am trying to use your library to validate Windows 8 IAP receipts. Check the following examples:
http://msdn.microsoft.com/en-us/library/windows/apps/jj649137.aspx

The required public key can be downloaded here:
https://lic.apps.microsoft.com/licensing/certificateserver/?cid=b809e47cd0110a4db043b3f73e83acd917fe1336

The C# based validation succeeded. Then I wanted to try with this lib. I

[2014-01-28 15:42] #23 closed, assigned to nobody

[2014-03-03 12:14] Jayodyme opened #24 "Enveloped Signature"
Thanks for the efforts of maintaining this project. Unfortunately I have some issues using your code for my project.

1.**Enveloped signature**
How can I tell the xml-crypto to generate an enveloped signature? In the XML-Reference of my webservice provider the recommended structure is:

[code]

2.**Reference**
In the XML demos above you can see my second problem the Reference Uri is expected to be

[2014-03-13 15:45] ddowhy opened #25 "Exclusive Canonicalization nsCompare is not spec complaint and creates invalid digests"
The namespace compare method in exclusive-canonicalization.js is not compliant with the  XML Canonicalization specs.  The bug in this code is causing the canonical XML to be ordered slightly differently and thus failing signature validation because the digest values are being hashed over malformed canonicalXML.
http://www.w3.org/TR/xml-exc-c14n/ which refers to the rules specified in http://www.ie

[2014-04-01 21:55] jbrunken opened #26 "Namespace support for Signature?"
Is there a way to specify the namespace for the signature?

For example:

[code]

Thank you for providing this package!

[2014-04-02 13:53] #26 closed, assigned to nobody

[2014-04-27 22:56] Alttaf opened #27 "Example.js produces invalid xml"
When running the example.js produces:
----CODE SNIPPET BEGINS HERE----
'<library><Signature xmlns="http://www.w3.org/2000/09/xmldsig#"><SignedInfo><CanonicalizationM......Reduced for brevity..... </SignatureValue></Signature></library><book Id="_0"><name>Harry Potter</name></book>'
----CODE SNIPPET ENDS HERE----

The root of the xml doc (library) is appended before book so the document is finished

[2014-04-29 13:25] #27 closed, assigned to nobody

[2014-05-15 17:36] Buzer opened #28 "Exclusive Canonicalization handles entities improperly which causes invalid digests"
The problem came up when I had " as part of the node's text, it was being translated to \&quot;. However, according to the spec, it should only be replaced when used in attribute's value, not text.

http://www.w3.org/TR/2001/REC-xml-c14n-20010315#Example-Chars

It also seems that attributes use incomplete list of allowed entities (missing \&#xA; and \&#x9;).

[2014-06-07 13:50] #24 closed, assigned to nobody

[2014-06-07 18:52] #25 closed, assigned to nobody

[2014-06-24 06:03] lukehorvat opened #32 "Append signature as last child of node being referenced?"
Quoting from the readme:

Is there any way to customize it so that the signature is pushed as the last child of the node being referenced (instead of always the document root)?

Example:

[code]

This is a valid thing to do, right? I don't know much about XML signatures, but [OpenIDP](https://openidp.feide.no/) (a SAML 2.0 Identity Provider) seems to sign XML in this manner. So does [this Wikipedi

[2014-06-24 13:55] lukehorvat opened #33 "Use this.idAttributes[0] when setting id attribute of element?"
I noticed [here](https://github.com/yaronn/xml-crypto/blob/master/lib/signed-xml.js#L483) that the id attribute for elements is set. Can we change the hard-coded `"Id"` to `this.idAttributes[0]`? That way if one passes in `idAttribute` as an option to the SignedXml constructor, it will use that instead.

Basically, I'd like to be able to control whether "Id" or "ID" is outputted when I call Signed

[2014-06-24 15:09] #32 closed, assigned to nobody

[2014-09-04 13:49] marcosomma opened #35 "Signed a particular structure"
Hi all,
I need to generate a XML Signature like this:

[code]

And I have to put it in a specific node ```<security>```.

The final result would be something like that:

[code]

My solution to do this is:

<h5>STEP 1</h5>
Create all XML like the example:

[code]

<h5>STEP 2</h5>
Generate a signature ```getSignatureXml()``` for the ```<data>``` node and extracting the ```DigestValue``` and  ```Sign

[2014-10-01 18:29] martin-goulet opened #36 "Support for SHA-512"
The library is not supporting SHA-512. I think that it would be a good improvement. Our IdP at SunGard uses SHA-512 for SAML assertion encryption/encoding and we are not able to use passport-saml because this lack of support in sml-crypto. Happily, the changes are pretty straightforward, see the patch pasted below:
#

--- C:/rajesh/psp/portal/node_modules/passport-saml/node_modules/xml-crypto/lib/

[2014-10-22 11:44] biofractal opened #37 "Generating an enveloped signature for a SAML Request"
I have the following SAML request that I want to digitally sign:

[code]

I use the following coffeescript code which relies on the nodejs [xmlbuilder](https://github.com/oozcitak/xmlbuilder-js) and [xmlcrypto](https://github.com/yaronn/xml-crypto) modules:

[code]

Which generates the following digitally signed SAML request:

[code]

This appears to be valid.

However when I test this with [SSOCi

[2014-11-10 16:59] #37 closed, assigned to nobody

[2014-11-10 17:08] biofractal opened #38 "How do I sign a root node?"
[code]
The following code above signs some sample xml and then validates the signature. It fails because the digests do not match. Presumably this is because I am attempting to sign the root node.

In your help file you say:

[code]

However I am afraid I don't understand what you mean by this. I would be very grateful if you could provide a code example of showing how to sign the root node of the

[2014-11-14 21:55] #36 closed, assigned to nobody

[2015-01-27 02:14] ploer opened #39 "possibility of removing xmldom-fork-fixed dependency and moving to xmldom 0.1.19"
Xmldom clarified its license to a dual MIT/LGPL license several versions ago; however, the version of xmldom used in xml-crypto does not include that clarification.

It would be great to move to the latest xmldom (0.1.19), so that organizations that can't accept a LGPL license can still use xml-crypto.  (We use xml-crypto in passport-saml, and this issue comes up there).

I notice that if I remove

[2015-01-28 20:39] yaronn commented on #39
Hi @ploer

I'm not sure what that change was but I'm very disappointed of myself for not committing the repository for it. I do remember that newer versions of xmldom broke some tests (regardless of any fixed I have made on the fork) so at that time I wanted to freeze the xmldom version with a few minor fixes I had to add. I think it might be close to my xmldom fork in github. If you try the bello

[2015-01-29 14:26] KevinHorvatin opened #40 "C14N canonicalization errors"
The C14N algorithm implementation leaves comments and removes data it shouldn't.

See my tests here: https://github.com/KevinHorvatin/xml-c14n-tests

I am working on patches, but if you already have some ideas. That would be appreciated.

Thanks

[2015-01-29 15:51] yaronn commented on #40
Thanks @KevinHorvatin!

I was not aware of these issues and a patch will be welcomed. Possibly some of them originate from the xmldom dependency. currrently xml-crypto uses a fork of xmldom which is not on par with latest xmldom (b/c of some historical regression in xmldom). you might want to try to change the xmldom-fork-fixed dependency to xmldom and see if that helps.

[2015-01-30 16:50] KevinHorvatin commented on #40
Pull request submitted for this issue:
https://github.com/yaronn/xml-crypto/pull/41

This will fix the comments issue but not the PI data issue.

[2015-01-30 16:51] KevinHorvatin commented on #39
I tried this and a number of tests failed. Unfortunately I didn't record the failing tests.

[2015-02-05 01:22] ploer commented on #39
@yaronn, thanks for the helpful background, and sorry it took me so long to get back to this.

It looks to me like if I use your fork the tests do indeed pass (@KevinHorvatin, any chance there was something else going on in the environment you tested in?).

It looks like those changes mostly consist of adding an ignoreWhitepace option.  Seems like something we might be able to submit back, or mayb

[2015-02-05 02:34] ploer commented on #39
If I'm understanding things correctly, it looks like the ignoreWhitespace option is only used in two of the tests, and is only needed for one of them ("windows store signature").  It does not appear to be exposed to consumers of the library or be used in the actual implementation of signature checking.

It's not entirely clear to me if the input to that particular test case is even legitimate, sin

[2015-02-05 23:52] yaronn commented on #39
the whitespace patch is because of this:

http://webservices20.blogspot.co.il/2013/06/validating-windows-mobile-app-store.html

which is actually based on a defect someone opened:

https://github.com/yaronn/xml-crypto/issues/23

I agree that the unit test as it is now actually checks xmldom-forked-fixed rather than xml-crypto but it is a valid end-to-end scenario to check. what do you think about

[2015-02-06 17:14] yaronn commented on #40
Thanks @KevinHorvatin , great work! I have pushed the new version to npm.

[2015-02-06 17:14] #40 closed

[2015-02-09 23:33] ploer commented on #39
Ah, interesting, thanks for the background.

What would you think of just adding a naive transform inside the test along the lines of `xml = xml.replace(/>\s*</g, '><');`, and then add a comment saying "to correctly handle windows store signatures, use a library such as xmldom-fork-fixed with the ignoreWhiteSpace option".

This would leave the test artifact as-is, documents what you need to do if

[2015-02-10 00:02] ploer commented on #39
I've created PR #42 to show what I had in mind, and seems like it would address this issue if that could work for you.

[2015-02-11 17:14] yaronn commented on #39
Looks good, I have merged and published it. Thanks!

[2015-02-11 17:14] #39 closed

[2015-02-11 17:37] ploer commented on #39
Thank you, really appreciate it!

[2015-03-16 23:30] archa347 opened #43 "Can't get XML digests to match. Possible canonicalization problem?"
I'm having some issues using the passport-saml library, which depends on xml-crypto, in a expressjs application running on a Windows server using the IISNode package.  It is failing comparing the digest of an XML document during signature validation. It may not be xml-crypto but my own configuration, but I'm hoping you can take a look at this and tell me what might be going on. After some debuggin

[2015-03-17 22:59] yaronn commented on #43
Hi @archa347

Can you force passport to use xml-crypto@0.1.25 and check if that works?
I am not sure what is exactly the use case here but are you in position to strip any white space from the xml (on both client and server) before signing it? Which framework does the signatuere and which one the validation? Can you isolate the signing code in both frameworks and sign a smaller chunk of xml to see

[2015-03-19 04:20] smartmouse opened #44 "using v1.2 node got into issue when run npm test"
✖ Exclusive canonicalization works on complex xml
✖ Exclusive canonicalization removes Comments

✖ signer creates correct signature values

Assertion Message: wrong signature format

AssertionError: '<Body xmlns="http://schemas.xmlsoap.org/soap/envelope/">&#xD;

✖ Exclusive canonicalization sorts upper case attributes before lower case

AssertionError: '<x Id="" id=""></x>' == '<x id="" Id=""></x>

[2015-03-19 15:26] archa347 commented on #43
I don't have much control over the server side, unfortunately.  The XML is being generated and signed by a CA SIteMinder SAML identity provider. The passport-saml library does the validation on our end as the SAML consumer. The XML is sent over the wire as base64 encoded text. The XML text was base64 encoded with CRLF line endings.   I found that after stripping CR's out of the text after decoding

[2015-03-19 18:55] yaronn commented on #43
thanks

Which xml-crypto version do you have installed? Can you force passport to use xml-crypto@0.1.25  and check if that works? Following case #39 we have changed the xml parser dependency and this possibly affected the xml parsing.

[2015-03-20 22:27] archa347 commented on #43
passport-saml installs with xml-crypto@0.3.26.  I forced it to 0.1.25 and still had the same issues.

[2015-03-21 22:25] yaronn commented on #43
thanks for the information

for now are you able to use the workaround you mentioned?
does the CRLF exist in the original xml or is it introduces only because the base64 is encoded with it? can you publish the base64?

[2015-03-25 12:24] whirp commented on #23
I have the same problem with node.js , but with the example code from yaronn and  the original key client.pem and certificate client_public.pem (from Example i mean) that's work!!.
Would you like to tell me the openssl command to generate these key and certificate with the correct digest? I see the xml-crypto module add by default the Id="_0" and  <Reference URI="#_0">.

This is my messagge error:

[2015-03-25 12:37] yaronn commented on #23
the error indicates a digest issue. this means the error is not related to keys but to calculation of xml digest. this may be related to white spaces in the xml (see #43). the sample unit test used to use a for of xmldom (xmldom-fork-fixed) and now just removes manually white spaces. can you check in that direction (manually remove spaces or use xmldom-fork-fixed)?

[2015-03-25 13:24] whirp commented on #23
ok thanks, now  without white space is working.
This is my code for validates the xml :
Now i have to implement the xmldom methods to remove all white space.

function validateXml(xml, key){
    //console.log(xml);
   // console.log(key);
    var doc = new dom().parseFromString(xml);

   var signature = select(doc, "/*/*[local-name(.)='Signature' and namespace-uri(.)='http://www.w3.org/2000/09/xml

[2015-03-25 14:46] archa347 commented on #43
The CRLF's are encoded in the base64, so I think they were part of the original XML as transmitted by the server.  We do have a work-around in removing CR characters from the XML after decoding.  I'll need to check to make sure I can post the full base64, I don't want to accidentally release any potentially secure information

[2015-03-25 16:25] whirp commented on #23
Another problem ,  I have to attach Xml signature to an existing xml SAML.
But the **ignoreWhiteSpace** of xmldom seems to not work, and i catch the same old error :
[code]

What's wrong with it?

Here the xml after **ignoreWhiteSpace**

[code]
The link for xml
[singned_bad.xml](http://s000.tinyupload.com/?file_id=81510439198416619576)

This little change on js
[code]

[2015-03-25 16:35] yaronn commented on #23
this flag is not supported by xmldom.
either use require('xmldom-fork-fixed')  (install it first) or strip the whitespace manually:
xml = xml.replace(/>\s*</g, '><');

[2015-03-25 16:57] yaronn commented on #23
btw do you also verify a signature that originates from a Microsoft .Net / Windows Store signature?

[2015-03-25 16:58] whirp commented on #23
I'm using  your fork   yet (https://www.npmjs.com/package/xmldom-fork-fixed  - https://github.com/yaronn/xmldom).
But it seems not work with my existing xml .

[singned_bad.xml](http://s000.tinyupload.com/?file_id=81510439198416619576)

[2015-03-25 16:58] yaronn commented on #43
Do you use node to verify a signature that originates from a Microsoft .Net / Windows Store signature? trying to understand if this originates from this issue or not:
http://webservices20.blogspot.co.il/2013/06/validating-windows-mobile-app-store.html

[2015-03-25 17:00] yaronn commented on #23
Do you mean that the following produce different digests?

1. use xmldom-fork-fixed with ignoreWhiteSpace: true
2. using regular xmldom but manually stripping white space

[2015-03-26 09:38] whirp commented on #23
The 1. solution works with basic xml (like example  https://github.com/yaronn/xml-crypto/tree/master/example)

The 2. solution doesn't work with my xml SAML

[2015-03-26 10:19] yaronn commented on #23
previously you wrote "without white space is working". so when you manually remove white space it is working, but xmldom-fork-fixed as well as option #2 do not strip the white space correctly?

[2015-03-26 11:04] whirp commented on #23
I correct my first post in discussion.
Your fork with **ignoreWhiteSpace** is working for me only on a basic  xml ```<library><book>``` etc.
When i prove on a more complex xml doesn't work, neither with manual remove white space of course.

There is something else wrong in my XML ( maybe the carriage return ??) :
[code]

[2015-03-26 11:10] yaronn commented on #23
can you try to manually remove all the CR (in particular the base64 is broken to a few lines) and check if that works?

also I want to make sure we have a clear baseline for comparison. can you sign the xml with nodejs (xml-crypto)? the result should be the same digest (if you use the same key as original signature also the same signature value but not critical). this will be easier to debug / com

[2015-03-26 12:40] whirp commented on #23
I've found the problem.
I ever use the reference signature  to the root element and this don't work.
Now i've proved to set reference for the first child and the sig.checkSignature(xml); return ok.

But this isn't what i want for my SAML implementation, I Have to find another solution to set reference on EntityDescriptor (root elem)

This is the code for add the signature, i've commented the refer

[2015-03-26 12:44] yaronn commented on #23
if you want the validator to ignore the signature element (which I assume
is why the validation fails) you should add this transformation to the
signature reference:

http://www.w3.org/2000/09/xmldsig#enveloped-signature

On Thu, Mar 26, 2015 at 2:40 PM, whirp <notifications@github.com> wrote:

--

I'm on Twitter (@YaronNaveh <http://twitter.com/#!/YaronNaveh>)

[2015-03-26 16:38] whirp commented on #23
The trasformation enveloped-signature doesn't work :
[code]

My code to generate xml :
[code]

The xml That doesn't contain white space neither CR:
[code]

My validation code :
[code]

[2015-03-26 18:19] yaronn commented on #23
hi @whirp

let me understand your use case: are you signing an xml, verifying a signature, or both?
after you sign the root, you want to put the signature as its child?
in the validation you want to pass the full root (with signature inside it)? you mentioned it is working if you manually pull the signature out (or was it signing/verifying a childs node?) - is it an acceptable workaround for now?

[2015-03-26 18:31] yaronn commented on #44
I have just installed node v0.12.0 on a new ubuntu 14.04 server and all tests passed:

    OK: 128 assertions (701ms)

I have used those installation instructions:

https://nodesource.com/blog/nodejs-v012-iojs-and-the-nodesource-linux-repositories

[2015-03-26 21:27] whirp commented on #23
Im signing an xml saml and verifying the signature (both).
I've to put signature only in the root elem (EntityDescriptor)
It's working only when i put signature on first child (but this is not my scenario), it's not working with signature on root elem(EntityDescriptor) and this is what i want.

[2015-03-26 22:00] yaronn commented on #23
when you sign please use this code:

    sig.addReference("//*[local-name(.)='EntityDescriptor']", ["http://www.w3.org/2000/09/xmldsig#enveloped-signature", "http://www.w3.org/2001/10/xml-exc-c14n#"], "http://www.w3.org/2000/09/xmldsig#sha1", "", "", "", true)

let me know how it goes

[2015-03-26 22:07] whirp commented on #23
Finally works!!!
I understand that if i have to add  signature to the entire xml document  the **<Reference URI="">**.

thank you so much for your help @yaronn

[2015-03-26 22:13] yaronn commented on #23
great to hear that!

[2015-03-29 15:56] yaronn opened #45 "allow to use pem with passphrase"
currently if a pem requires a passphrase than the user will be prompt to enter it. effectively this means a passphrase is not supported.

solution is to change signer.sign (also verify?) to accept an object as first parameter: https://nodejs.org/api/crypto.html#crypto_sign_sign_private_key_output_format

this is not available yet in node 0.10.33 (not sure starting which version it is). when used o

[2015-03-30 11:00] whirp opened #46 "How to add signature on AuthnRequest"
Hello,
I'm trying to add signature on my AuthnRequest with xml-crypto.
I've tried to add some configuration to SamlStrategy but nothing appens on AuthnRequest XML.

This is the configuration  for Strategy :
[code]

This how route the login request, but i don't know how to add signature on it
[code]

This is the SAML AuthnRequest xml :
[code]

[2015-03-30 11:36] yaronn commented on #46
hi

in general if you use passport you do not need to call xml-crypto directly since passport will do it for you. so you should ask this in the passport project.
if you want to do yourself the low level staff you could use xml-crypto. for that you need to have a sample of how your end xml should look like.

[2015-03-30 16:00] whirp opened #47 "How to include <X509Certificate> in the signature?"
I've signed my xml with this code :
[code]

But i don't know how to put the element ```<keyinfo>```  and   ```<X509Certificate>``` in the signature-
Would you please help me?

[2015-03-31 10:22] yaronn commented on #47
xml-crypto automatically puts them for you in the signature. If you want to add them in a different format you can implement your own 'key info provider' (the readme contains explanation).

[2015-04-01 18:32] archa347 commented on #43
No, the XML is coming from a proprietary software called SiteMinder by CA. Its a single sign on provider.

[2015-04-16 14:28] matiasdecarli commented on #43
I'm struggling with this aswell. It seems like some problem regarding canonicalization, since the signature matching is OK (at least in my case)

BTW Im using Okta in parallel and works fine. It seems like a problem with different IPs (maybe with the OS?)

[2015-04-16 14:31] yaronn commented on #43
@matiasdecarli - if you remove white space is it also ok? also what do you mean that the signature match is ok - if the digests are different than the signature will also be different.
not sure I understand about the different IPs - your code works from some machines and from some not?

[2015-04-16 14:36] matiasdecarli commented on #43
Using the ```({ignoreWhiteSpace: true})``` makes no difference. The calculated digest is the same, and doesnt match with the expected.

What I mean with the signature match is ok, is that ```validateSignatureValue()`` works fine, and the error is on ```validateReferences()```

Regarding the IPs: yes. It works with Okta, but it fails when I'm using another one (Im not sure which one since this is a

[2015-04-16 14:40] yaronn commented on #43
ignoreWhiteSpace will not work with xmldom but only with xmldom-fork-fixed. instead, can you manually remove all whitespace, just to check? can you send me the xml and the signature?

[2015-04-16 14:47] matiasdecarli commented on #43
Actually im using xmldom-fork-fixed => ```Dom = require('xmldom-fork-fixed').DOMParser```

Sadly, I can't send you the signature & xml since I have a lot of sensitive data inside of it. Is there something else I can do in order to help us understand where this issue is?

This is specifically where the problem is ```(digest!=ref.digestValue)```

[2015-04-16 14:50] matiasdecarli commented on #43
Can I reach you via email to send you this stuff? Thanks in advance.

[2015-04-16 14:51] yaronn commented on #43
sure, yaronn01@gmail.com

note that I will take a look once I have free time (this requires some
debugging and I need to find the right time for it)

On Thu, Apr 16, 2015 at 5:50 PM, Matias De Carli <notifications@github.com>
wrote:

--

I'm on Twitter (@YaronNaveh <http://twitter.com/#!/YaronNaveh>)

[2015-04-16 14:52] matiasdecarli commented on #43
I tottaly understand, yes. Thanks, you are really being very helpfull

[2015-04-17 17:15] matiasdecarli commented on #43
@yaronn Could you see the data? It looks like the encoding its the same, but the assertion has a different format. I've tried adding ```&#xD;``` at line endings with no luck

[2015-04-19 21:07] yaronn opened #48 "support inclusive namespaces"
Follow up to #43

A reference like this:

     <ds:Reference URI="...">
              <ds:Transforms>
                <ds:Transform Algorithm="http://www.w3.org/2001/10/xml-exc-c14n#">
                  <xc14n:InclusiveNamespaces xmlns:xc14n="http://www.w3.org/2001/10/xml-exc-c14n#"  PrefixList="xs saml xsi">
                  </xc14n:InclusiveNamespaces>
                </ds:Transform>

[2015-04-19 21:10] yaronn commented on #43
Hi @matiasdecarli

I think I have found the issue. Since your XML is confidential I will send you the details in mail but I have opened a more general defect on this, #48 . I will send you a possible workaround.

[2015-04-20 20:45] #43 closed

[2015-04-28 12:27] BaurzhanSakhariev opened #50 "Is there any plans to support inclusive canonicalization?"
Is there any plans to support inclusive canonicalization?

I mean such canonicalization, where
`canAlgo!= ...xml-exc-c14n...`  but `canAlgo==...REC-xml-c14n-...`

[2015-04-29 03:44] yaronn commented on #50
No current plans. xml-crypto has extensibility mechanism so this can be implemented from the outside too.

[2015-04-30 05:54] BaurzhanSakhariev commented on #50
Ok, thanks. Looks like exclusive and inclusive canonicalization are the same in the case of processing **not subset but whole document**.

[2015-04-30 05:54] #50 closed

[2015-04-30 05:56] BaurzhanSakhariev opened #51 "sign anf verify in browser"
Is there any tutorial to use xml-crypto for signing and verification without Node?

May I verify signed xml without xmldom?

As far as I know, I can clone to local folder and use browserify tool, am I right? I tried to do this, but console says something like *XmlSigned object is not defined.*

[2015-04-30 13:05] yaronn commented on #51
Hi @BaurzhanSakhariev

I don't think xml-crypto will work as is on browsers since the 'crypto' node libary is not available. But I think a few people migrated xml-crypto to work on a browser by changing signing functions to use  https://github.com/digitalbazaar/forge and then browserify.

[2015-05-01 13:24] #51 closed

[2015-05-11 03:24] bjrmatos commented on #26
@yaronn would you accept a pull request with this feature? i'm working with the XML-UBL specification and need to prefix the signature with "ds:"; would love to see this in the main module rather than in a custom implementation.

Cool module BTW!

[2015-05-11 04:18] bjrmatos opened #52 "Is documentation up to date?"
Hello, i just find in the source code that a EnvelopedSignature transform is supported, but nothing of this is mentioned in the docs, also there are other things that i think are out-dated too, would you accept a pull request covering this?

[2015-05-11 07:41] yaronn commented on #52
Hi @bjrmatos . I wold love to see a PR with enhancements to the documentation!

[2015-05-11 07:43] yaronn commented on #26
Hi @jbrunken . Yes, would be great to have a feature that allows to customize the signature namespace.

[2015-05-11 10:28] BaurzhanSakhariev opened #53 "inclusiveNamespacesPrefixList doesn't work as expected"
My goal is producing C14N canonical form (inclusive canonical form). I tried to do it by adding all namespaces in document to inclusiveNamespacesPrefixList. Instead of extracting all namespace nodes and adding them to list I just simulated such action by small change in code:

 `if (attr.prefix && prefixesInScope.indexOf(attr.localName) === -1 && inclusiveNamespacesPrefixList.indexOf(attr.localNam

[2015-05-11 18:55] bjrmatos commented on #52
Cool! i'll work on that

[2015-05-13 04:07] BaurzhanSakhariev commented on #53
It seems including all namespaces has nothing to do with inclusive canonicalization, my assumption was wrong. I'm currently developing  C14N (none-exclusive) and will try to make pull request after testing.

[2015-05-13 04:07] #53 closed

[2015-05-20 20:51] bjrmatos opened #54 "Support for prefixed signature"
Hello @yaronn, as discussed here #26 i'm starting to work in a pull request that support generate a prefixed signature. i've cloned the repo and after run `npm test` i see a failing test, do you have the same result?

![image](https://cloud.githubusercontent.com/assets/4262050/7736131/7643244e-ff07-11e4-99dc-5fc692b80d98.png)

[2015-05-20 21:44] renatoargh opened #55 "Feature request: provide a way to place the signature somewhere besides the last child of the root node"
Thank you for your (great) work. This is just a suggestion (that would ease my life of course haha).

[2015-05-20 22:52] bjrmatos commented on #54
I just sent the PR here #56, let me know if something is wrong

[2015-05-21 03:02] bjrmatos commented on #55
i want to work on this.. currently, there is a un-documented argument that let you specify a xmlpath to a node that will let you insert the signature before it

[2015-05-21 03:38] bjrmatos commented on #54
I have node 0.10.36 and windows 7

[2015-05-21 20:34] renatoargh commented on #55
@bjrmatos great to know, would mind providing an example?

[2015-05-21 20:38] renatoargh commented on #55
Actually I am signing a node that is deep within the XML, for example;

[code]

Is it possible pass a parameter that would make the signature to be a sibling of the signed node? Thank you

[2015-05-22 03:43] bjrmatos commented on #55
sadly, currently there is no way to add the signature node after `<divisions>`, but you can add it before.

[code]

output ->

[code]

[2015-05-22 12:50] renatoargh commented on #55
This still doesn't help me as I am dealing with a very strict xml schema validation from a 3rd party service, but its good to know it anyway! Thank you for your time!!

[2015-05-22 20:22] bjrmatos commented on #55
you can add the signature at runtime anywhere you like:

[code]

Obviously, would be better if xml-crypto handle this, but for now this is the only way to do it (until i submit a PR covering this)

[2015-05-22 23:01] yaronn commented on #54
do you still get the unit test error? I don't get it on windows 7 / node 0.10.28 or Ubuntu 12 / node 0.10.33.

[2015-05-23 19:02] bjrmatos commented on #54
Yes, i still getting error on 0.10.36 / 0.10.28 - windows7 (x86).. looks that this is something weird :S

[2015-05-23 22:49] yaronn commented on #54
can you print sig.validationErrors in the end of saml-response-test.js (13) to see what is the validaiton issue? might be related to whitepsace handling in the OS.

[2015-05-24 03:10] bjrmatos commented on #54
i've found that is a problem of line endings..

this is what i get from `sig.validationErrors` -> `ERRORS:
[ 'invalid signature: for uri #pfx94e4a319-b6f7-4a40-25d1-01fcb642e4c5 calculated digest is 4gQRC7VRHftCaH+mTcIVkUFHpxY= but the xml to validate supplies digest fc21hh1bKZpaMNjx9HfOfVelfWw=' ]`

when i clone the repository from git, git converts line endings to windows style (CRLF)

My git co

[2015-05-25 13:11] yaronn commented on #54
good catch!

digest calculation basically takes the xml (with white spaces if any) and calculates its hash as a stream of data. so changing the whitespace format will break the digest calculation. this is the desired behavior.

[2015-05-25 13:11] #54 closed

[2015-05-25 16:15] bjrmatos commented on #54
thnks, i'll work on #55, stay tuned :)

[2015-05-25 16:20] yaronn commented on #54
looking forward to it!

[2015-06-11 17:16] vitalii commented on #38
Hey, biofractal,  have you found the solution for your issue? I met the same problem. Can't sign authreq for third part validation. I saw dependants  of xml-crypto, but they signed urls instead of root node of xml. I would be grateful for any help.

[2015-06-24 15:49] cmartin81 opened #60 "Include InclusiveNamespaces in transform tag"
Hi
I need to define a reference when signing my xml with a html tag called: InclusiveNamespaces.
Are there any solution for this?

This is what I need to have inside my reference tag:
<Transform Algorithm="http://www.w3.org/2001/10/xml-exc-c14n#">
   <InclusiveNamespaces  xmlns="http://www.w3.org/2001/10/xml-exc-c14n#" PrefixList="#default samlp saml ds xs xsi"/>
</Transform>

[2015-06-24 16:05] yaronn commented on #60
Hi @cmartin81

This is not supported yet but some of the infrustructure so it might not be complex to implement if you want to try. Check this part in signed-xml.js:

https://github.com/auth0/xml-crypto/blob/be60701831079964ca56dbbd87a263af689fa509/lib/signed-xml.js#L416

you need two changes:

1. the getCannonXml() method can get a third parameter with the namespaces you want in the PrefixList (s

[2015-06-24 23:45] galcivar opened #61 "Is there a way to implement Xades BES?"
We need to encrypt XML files with:
http://oficinavirtual.mityc.es/componentes/mityclibxades/integrator-guide/xades-bes-sign.html

Is there a way to implement it?

[2015-06-25 00:37] yaronn commented on #61
I think you need to sign and not encrypt (anyway xml-crypto can only sign).
xml-crypto has not special support to the canonicalization algorithm in the sample (http://www.w3.org/TR/2001/REC-xml-c14n-20010315) but maybe things will work as is if the server is willing to accept different algorithm. I suggest you try to first signing sample in the README and just replace the xml and xpath with your x

[2015-07-24 22:31] bjrmatos commented on #55
Closed via #57.. docs coming soon #58

[2015-07-24 22:31] #55 closed

[2015-07-29 22:33] giulianoifollow commented on #47
Hi,

I have the same info on xml output but when follow your example (README) nothing happens. I'm trying like this:

[code]
With code above we get:

[code]
But need somehing like:

[code]

What's wrong?

[2015-07-30 00:58] bjrmatos commented on #47
@giulianoifollow i share with you a keyInfo implementation that i use in production

i use the module [node-forge](https://www.npmjs.com/package/node-forge) because it has a certificate parser, i could have replaced with another tiny module but i'm too lazy :)

[code]

[2015-07-30 00:58] #47 closed

[2015-08-05 19:44] stefnnn opened #63 "How to add <SignatureProperties> into signature?"
My use case requires me to add a timestamp to the signature within the <Signature> element. See below for an XML example. Adding additional objects to the signature is foreseen by the standard. But where would be a good place to insert such additional XML-Nodes into the code? This additional node should of course be signed as well, to prove that indeed the signature is from a certain time & date.

[2015-08-06 04:21] yaronn commented on #63
I've never seen custom nodes before inside the signature. since you need those nodes to be signed this would require custom development in signed-xml.js. a hack might be to add the new node outside the signature and sign it like a regular reference, then after the signature is generated move it to inside the signature (will work depending on the algorithm used and if you need it inside SignedInfo

[2015-08-07 11:11] stefnnn commented on #63
Hi Yaron,
thanks for your suggestions. I further checked the docs. Indeed the [Object] node wrapping the [SignatureProperties] should be signed with a reference and then added to the Signature-node (not inside SignedInfo). It's quite a challenge with the existing flow in the library. I'll give it a shot, but I fear that it won't be pretty to contribute back to the library...

[2015-08-08 04:34] yaronn commented on #63
don't worry about contributing to the lib. just complete your use case the best way you can. if after that you will have some tips for anyone implementing something similar in the future would be great if you can share them here.

[2015-08-08 22:24] bjrmatos opened #65 "Incorrect hash when signing an xml file with line breaks (windows)"
I'll add a test case to reproduce the issue and more info later..

when the issue is resolved would be great to test in linux and osx to ensure that everything is :ok_hand:

[2015-08-08 23:05] bjrmatos opened #66 "Prepare for 1.0"
The plan (discussed [here](https://github.com/yaronn/xml-crypto/pull/59)):
- [ ] **[deprecate]** `sig.loadSignature` (at least from the public API).
- [ ] **[new behaviour]** `checkSignature(String: xmlDocument, [String: externalSignatureXmlDocument])` will search and validate only the first signature found (a cool feature would be let the user to validate a specific signature, vía a XPath express

[2015-08-08 23:07] bjrmatos commented on #66
i will post here if i find more improvements

[2015-08-08 23:12] bjrmatos commented on #52
waiting for #58 to resolve

[2015-08-10 00:22] bjrmatos commented on #66
added a task to improve travis build

[2015-08-10 22:04] chriswininger commented on #48
So I am experiencing the problem described #43 ,  the xml response from the server contains to following
[code]
You mention in #43 there is a possible workaround that you will e-mail the user. Could you possibly post that work around? Thanks in advance.

[2015-08-11 04:57] yaronn commented on #48
Hi

I have manually added to his SAML Assertion element the definitions of xmlns:saml, xmlns:xsi and xmlns:xs (which appeared elsewhere in the document). I believe he then went and automated the addition of those elements (just be careful not to change any white spaces.)
In terms of the defect above I have added the namespaces to X before verifying its signature. You should add the relevant namesp

[2015-08-11 16:42] chriswininger commented on #48
Ah, I see thanks. That did it?

[2015-08-11 17:09] yaronn commented on #48
great!

[2015-08-11 17:09] #48 closed

[2015-08-15 10:18] dominykas opened #67 "Provide an option to ignore missing URIs"
I'm working on a library to verify ASiC containers - they are essentially a ZIP with a signatures.xml. The signatures.xml contains XAdES which can happily be verified using this library, except that it contains URIs which are outside of the document itself, i.e. the URIs do not reference the IDs inside the XML, but reference the files inside the ZIP. Since URIs with and without the starting `#` _c

[2015-08-15 10:21] dominykas opened #68 "Support http://www.w3.org/TR/2001/REC-xml-c14n-20010315 canonicalization"
I have no idea how it differs from all the other c14n - will research myself and PR if I can figure it out...

[2015-08-15 11:01] dominykas opened #69 "keyInfoProvider.getKey should be async"
(I'm on a roll, I know, but it's a good roll, right?)

The example for `getKey` in the README is using `fs.readFileSync` which is nice and all when you can actually use a sync version of a function - what I'm facing right now is a DER encoded key and so far - I haven't found a nice way to convert it to PEM (or use as is in `crypto`) other than by calling `openssl -inform DER -outform PEM` and doin

[2015-08-15 11:21] dominykas commented on #69
Found a sync way to convert DER to PEM in node.js (not sure if it's best/shortest):
[code]

[2015-08-16 03:12] bjrmatos commented on #69
what i actually do in my apps based on xml-crypto is convert all keys to PEM format, on application start read the files with `fs.readFile` and keep the values in a shared module, and finally pass the result (Buffer) to my custom key info provider, with this way i don't read the key file every time and the `keyInfoProvider.getKey` method will never block my program because it is only retrieving wh

[2015-08-16 03:14] bjrmatos commented on #68
let me know if you can figure it out

i will investigate later (probably the next week)

[2015-08-16 03:49] bjrmatos commented on #67
basically what you're asking is support for validate [detached signatures](https://en.wikipedia.org/wiki/Detached_signature), external signatures that are not part of the signed document.

this feature is planned, see #66

`checkSignature` will support a new argument to specify the external signature document, and the validation will resolve the references correctly (we are investigating how to ma

[2015-08-16 13:21] dominykas commented on #67
It's not exactly an "external signature document" per se - there are _multiple_ files to be checksumed, and they're all inside the ASiC container - I'm not sure it's really a good idea to make `xml-crypto` aware of such (or any other) containers, or at least it feels to me that it wouldn't be the node way :)

As for using correctly - I'm suggesting to keep the default as is. As for non-default beh

[2015-08-16 13:33] dominykas commented on #68
There's a bit of a curve there, alright. Probably would take a lot faster to implement this for someone familiar with the problem already, especially considering that "Exclusive XML Canonicalization are the same as for Canonical XML [XML-C14N] with the following exceptions" http://www.w3.org/TR/xml-exc-c14n/#sec-Specification

I do like the method signature in PHP though: http://php.net/manual/en/

[2015-08-16 13:38] dominykas commented on #69
Oh, OK. I was thinking about preloading, except that I figured that you do have to read it out from `keyInfo` param - in my case, I do get an `<X509Certificate/>` (in base64 encoded DER) inside the `keyInfo`. There is a strong use case for both - CPU heavy ops and I/O inside this method, so async felt natural.

Anyways, this is not an issue for me anymore [for now], so feel free to close this, if

[2015-08-16 13:42] dominykas commented on #67
Oh, another way to achieve what I need would be to have some configurable `getSignatureByUri` method - in which case I could provide the result from my program (by reading and checksumming the container streams that I have).

[2015-08-16 13:53] bjrmatos commented on #69
Ok, now i understand your use case :) i agree that async must be the way to go, it just would require to make some other methods async too.. I will leave this open until we implement this (after the module's author agree with this too)

[2015-08-16 14:18] bjrmatos commented on #67
I need to read the ASiC and XAdES specifications to see if this is the best solution.

But maybe @yaronn knows more about this than me

@yaronn would you like to comment on this?

[2015-09-05 05:13] bjrmatos commented on #63
since this is not a bug with xml-crypto i'm closing the issue.. feel free to keep comment :)

[2015-09-05 05:13] #63 closed

[2015-09-05 18:27] bjrmatos commented on #52
closed by #58

[2015-09-05 18:27] #52 closed

[2015-09-05 18:54] bjrmatos commented on #66
added a task to use [debug](https://github.com/visionmedia/debug) module for logging useful information in development

[2015-09-24 04:42] bjrmatos commented on #46
closing, feel free to re-open if you have any problem with xml-crypto

[2015-09-24 04:42] #46 closed

[2015-09-24 04:47] bjrmatos commented on #44
all tests pass for me too in v0.12.7.. feel free to comment if you have any problems

[2015-09-24 04:47] #44 closed

[2015-09-24 04:50] bjrmatos commented on #38
this should be more easy in the last version, please review the docs.

examples are coming..

since this is not a issue.. i'm closing it, feel free to comment if you have any problems

[2015-09-24 04:50] #38 closed

[2015-09-24 23:03] siacomuzzi opened #72 "enveloped transformation + exclusive-canonicalization"
Can both algorithms work together? I'm getting a [digest mismatch error](https://github.com/yaronn/xml-crypto/blob/master/lib/signed-xml.js#L315) with the following "transforms" element:

[code]

Thanks

[2015-09-25 00:31] siacomuzzi commented on #72
I'll try with this -> https://github.com/yaronn/xml-crypto/issues/48

[2015-09-25 13:59] siacomuzzi commented on #72
I fixed that with your workaround, thanks @yaronn !

But I'm wondering if these namespaces should be added in the SAML assertion element by my SAML Identity Provider or it should be handled from my side (xml-crypto code in this case).

[2015-09-25 22:48] siacomuzzi commented on #72
the following works for me:

[code]

[2015-09-26 03:11] yaronn commented on #72
great this works out and thanks for sharing the solution!

[2015-09-26 18:20] bjrmatos commented on #72
@yaronn is this something that we can put in core? what needs to be done to make it ready? i have no idea which is the behaviour of InclusiveNamespaces transform :smiley:

[2015-09-26 18:23] bjrmatos commented on #72
related to #60

[2015-09-28 15:15] siacomuzzi commented on #72
I don't know why yet, but the following is not working with my workaround:

[code]

I'm getting the digest mismatch error again.

[2015-10-01 13:09] gamtiq opened #73 "A typo in README"
There is a small typo in README.md.

[2015-10-01 18:58] bjrmatos commented on #73
fixed! thnks :)

[2015-10-01 18:58] #73 closed

[2015-10-04 13:15] tngan commented on #45
Just for sharing, now I use this one [digitalbazaar/forge](https://github.com/digitalbazaar/forge) to get the pem protected by a passphrase. They have an API `pki.decryptRsaPrivateKey( file, passphrase )` to decrypt the pem.

[2015-10-04 13:30] bjrmatos commented on #45
@tngan cool! i use forge in some of my apps to parse certificates.. we'll have forge in mind when find a solution, thnks

[2015-10-04 14:05] bjrmatos opened #77 "fix travis builds"
hi @yaronn, i noticed some time ago that the travis builds are broken because we are testing against an older version of node (0.6), can i update .travis.yml to test against 0.10 and 0.12?

[2015-10-04 14:44] yaronn commented on #77
good idea!

[2015-10-04 15:21] bjrmatos commented on #77
:+1:

[2015-10-04 15:23] #77 closed

[2015-10-04 15:34] bjrmatos commented on #66
fixed travis builds in fbb8dacb8e18c24a075cfcef8af4ac8ea38a58d0

[2015-10-11 18:36] fcorneli commented on #66
Is it possible to tag each release properly?

[2015-10-11 21:05] bjrmatos commented on #66
@fcorneli sure! I will do it :)

[2015-10-15 04:33] bjrmatos commented on #66
@yaronn can you enable the Travis webhook again? would be great to have results of travis builds in PRs again :)

[2015-10-15 22:06] yaronn commented on #66
where do I enable it? "build push" and "build pull requests" are already on
in the travis project. maybe its in the yml? or you can also create a
travis project with your name.

On Thu, Oct 15, 2015 at 7:33 AM, BJR Matos <notifications@github.com> wrote:

--

I'm on Twitter (@YaronNaveh <http://twitter.com/#!/YaronNaveh>)

[2015-10-17 19:42] bjrmatos commented on #66
can you look at the repository settings and confirm that travis is there?

screenshot from another repository:

<img width="1079" alt="captura de pantalla 2015-10-17 a las 2 39 03 p m" src="https://cloud.githubusercontent.com/assets/4262050/10560862/2f506d8e-74dd-11e5-93d3-116b52ef9900.png">

[2015-10-19 11:20] Sk1Zy opened #80 "Validating with X509 in body"
Hi
I'm trying to validate a Signed xml document that has the X509 key base64 encoded in the document itself.

However, no matter what i try i can't get it to validate(not getting the same digest) and I'm having difficulty understanding how to validate the document this way.

I found a KeyInfo implemenentation in #47 but I can't seem to get that to work either.

Anyone able/willing to lay things ou

[2015-10-19 11:50] tngan commented on #80
What is the error message ?

The following is the possible workaround:
[code]

You can implement your own KeyInfo method:

[code]

[2015-10-19 13:22] Sk1Zy commented on #80
Using your method
[code]

And my code looks like this
[code]

When i log the signature i get the correct part so at least that isn't the problem. Also when i look through the XML the getKeyInfo method you supplied looks correct.

[2015-10-19 13:46] tngan commented on #80
The code I've used above is from my module [express-saml2](https://github.com/tngan/express-saml2/blob/master/lib/SamlLib.js#L285-L313). Just for your reference. `Error: key info provider could not resolve key info` is because of missing public key. See [here](https://github.com/yaronn/xml-crypto/blob/30d848ba7106d773da2d71521515a1511e793f2e/lib/signed-xml.js#L252-L253)

[code]

What is the signat

[2015-10-19 16:09] Sk1Zy commented on #80
My key info provider is this function you pasted, i just put it in a separate file.

The signature element has these elements:
[code]
So I'm guessing sha256?

[2015-10-19 16:47] tngan commented on #80
So that's not the problem of signature algorithm. Since you have stated `not getting the same digest` before, make sure you have used the right key to verify, if yes, maybe that's the problem of your reference. Is it empty ?
[code]
You may also refer to #38 #43, those are digest-related issues, and see whether it helps.

[2015-10-19 16:56] Sk1Zy commented on #80
After fixing the get key function I'm now getting the original error again. Which like you said is a digest error.

[code]

[2015-10-20 07:26] tngan commented on #80
You may refer to [here](https://github.com/yaronn/xml-crypto/blob/30d848ba7106d773da2d71521515a1511e793f2e/lib/signed-xml.js#L298-L338).

@yaronn @bjrmatos, any idea of it ?

[2015-10-20 10:01] Sk1Zy commented on #80
Here's an example XML document (it's a SAML 2.0 message, forgot to mention before)
[code]

[2015-10-20 11:33] Sk1Zy commented on #80
I threw this all into it's own repository. See https://github.com/Sk1Zy/node-xml-crypt-issue

[2015-10-20 12:19] tngan commented on #80
Can you try to add reference manually like what @yaroon proposed in #38 ?

[code]

[2015-10-20 13:25] Sk1Zy commented on #80
@tngan i think i was able to fix it. The atob() module i was using to decode the base64 string i was receiving wasn't decoding it properly into utf8. Once i switch to use the native node method of using new Buffer(token, 'base64').toString() this error stopped showing up. But now i'm getting that the canonicalization algorithm isn't supported.

Error: canonicalization algorithm 'http://www.w3.org/

[2015-10-20 13:51] tngan commented on #80
So is it possible to update the canonicalisation algorithm to latest version in your Identity Provider ?

[2015-10-20 13:52] Sk1Zy commented on #80
I don't have access to it as it is an external provider. But it wont hurt to ask.

[2015-10-20 16:49] Sk1Zy commented on #68
Any news on this? @bjrmatos

[2015-10-22 00:02] yaronn commented on #66
yes, it's there exactly as in the picture.

On Sat, Oct 17, 2015 at 10:42 PM, BJR Matos <notifications@github.com>
wrote:

--

I'm on Twitter (@YaronNaveh <http://twitter.com/#!/YaronNaveh>)

[2015-10-22 13:35] Sk1Zy commented on #80
I ended up solving this by implementing this like a REST method in PHP and calling that from my NodeJS project.

[2015-10-22 13:35] #80 closed

[2015-10-22 13:44] tngan commented on #80
@Sk1Zy  Good to hear that, would you like to give more detail of your solution, I do think it would help the further development of this repository.

[2015-10-23 09:07] Sk1Zy commented on #80
@tngan I thew the PHP code I used into [a gist](https://gist.github.com/Sk1Zy/8fe12ba6d3e14634d35a). However you're gona have to filter out the relevant bits as there is some other validation mixed in that was required by the SAML provider.

I used [xmlseclibs](https://github.com/robrichards/xmlseclibs) to do the XML validation so most of the methods and how to should be in their documentation.

[2015-10-24 19:26] bjrmatos commented on #80
sorry for the late response, busy week.. if i understand properly the final and real issue was that 'http://www.w3.org/TR/2001/REC-xml-c14n-20010315' canonicalization is not supported.. i will try to implement it in the next week

@tngan thnks you for your help!

@Sk1Zy thnks for your feedback!

[2015-11-25 23:40] Gustavinho opened #81 "Error validation"
Hi, I'm validating an XML signed by xml-crypto, but always returns me a invalid message, I've attached the signed xml, the public key, and my coffeescript code to sign and verify

could you help me whit that please?

to sign

    sign = new SignedXml()
    sign.addReference "//*[local-name(.)='ConsultaSectorPrimario']" , "" , "" , "" , "" , "" , true
    sign.keyInfoProvider = new MyKeyInfo( rfc )

[2015-11-25 23:43] yaronn commented on #81
where is the xml?

[2015-11-25 23:46] Gustavinho commented on #81
I attached you the xml and the public key
[JAEP820923NM9-AOPF580423BIA.txt](https://github.com/yaronn/xml-crypto/files/44486/JAEP820923NM9-AOPF580423BIA.txt)
[JAEP820923NM9_publicKey.key.pem.txt](https://github.com/yaronn/xml-crypto/files/44487/JAEP820923NM9_publicKey.key.pem.txt)

[2015-11-25 23:51] yaronn commented on #81
this xml already contains a signature, why do you sign it again? try all of this on a very simple xml (1-2 tags) to see if it works on that.

[2015-11-26 00:00] Gustavinho commented on #81
I'm trying with <node>hello</node> and
sign = new SignedXml()
sign.addReference "//*[local-name(.)='node']" , "" , "" , "" , "" , "" , true

but it doesn't work

[2015-11-26 00:01] Gustavinho commented on #81
sorry
notSigned = '<node>hello</node>'

[2015-11-26 00:02] Gustavinho commented on #81
sorry , the xml I'm using now is from attached image
![captura de pantalla 2015-11-25 a las 6 02 11 p m](https://cloud.githubusercontent.com/assets/4228757/11412166/b12cabbc-939e-11e5-8143-1709833fa87f.png)

[2015-11-26 00:05] yaronn commented on #81
try this using null instead of empty strings in addReference.

[2015-11-26 00:10] Gustavinho commented on #81
I tried with null instead empty strings, but I had the same result
sign.addReference "//*[local-name(.)='node']" , null , null , null , null , null , true

[2015-11-26 00:12] yaronn commented on #81
does it work if you just give addReference the first parameter (I know it will create the wrong URI but lets see if at least it gets the signature correctly).

[2015-11-26 00:14] yaronn commented on #81
if it fails try the example file or readme sample of the project. if it works try to hard code here to use the empty uri value:

https://github.com/yaronn/xml-crypto/blob/master/lib/signed-xml.js#L560

[2015-11-26 00:35] bjrmatos commented on #81
the problem is that you must sign your xml with the enveloped signature transform (because the signature will live inside the node you are signing)

[2015-11-26 00:39] bjrmatos commented on #81
try using:

(example in js)

[code]

[2015-11-26 00:41] bjrmatos commented on #81
that should work.. if it doesn't work please create a repository with your original xml, a dumb private/public key and the code you are using.

[2015-11-26 00:43] yaronn commented on #81
good call @bjrmatos!

[2015-11-26 00:54] Gustavinho commented on #81
woooooow, that it works, good one @bjrmatos, thanks, now I'm getting a successful validate, the web validator https://www.aleksey.com/xmlsec/xmldsig-verifier.html still says "invalid signature" but it doesn't care, thaks so much

[2015-11-26 01:38] Gustavinho commented on #81
I have a question, can I sign a xml twice? I mean a second sign of an xml with a first sign

first xml to sign
<ConsultaSectorPrimario rfcEmisor="AOPF580423BIA" rfcReceptor="JAEP820923NM9" rfcPrestadorAutorizado="AHO0505163C7" tsSolicitud="2015-11-25T19:36:37">

second xml to sign
<ConsultaSectorPrimario rfcEmisor="AOPF580423BIA" rfcReceptor="JAEP820923NM9" rfcPrestadorAutorizado="AHO0505163C7" ts

[2015-11-26 01:40] Gustavinho commented on #81
I have a question, can I sign a xml twice? I mean a second sign to a xml previously signed

first xml
![primerxml](https://cloud.githubusercontent.com/assets/4228757/11413234/60993554-93ac-11e5-858a-2d47bd9d80d8.png)
segundo xml
![segundoxml](https://cloud.githubusercontent.com/assets/4228757/11413236/665d47c8-93ac-11e5-9713-dda4e65df243.png)

[2015-11-26 01:41] Gustavinho commented on #81
I have a question, can I sign a xml twice? I mean a second sign to a xml previously signed and includes both signs

first xml
![primerxml](https://cloud.githubusercontent.com/assets/4228757/11413250/80edf06a-93ac-11e5-8625-b3f4f454be84.png)
second xml
![segundoxml](https://cloud.githubusercontent.com/assets/4228757/11413252/85ae181e-93ac-11e5-802b-375a0658d108.png)

[2015-11-26 01:42] Gustavinho commented on #81
I have a question, can I sign a xml twice? I mean a second sign to a xml previously signed and includes both signs

first xml to sign
![primerxml](https://cloud.githubusercontent.com/assets/4228757/11413254/99c8ca24-93ac-11e5-839c-fc8edaac48aa.png)
second xml to sign
![segundoxml](https://cloud.githubusercontent.com/assets/4228757/11413256/9efe5874-93ac-11e5-84f8-f16eb4faf290.png)

[2015-11-26 06:08] bjrmatos commented on #81
mmm technically, you can (i'm sure xml-crypto let you do that) but i don't know if it is valid according the XML Digital Signature Spec, i haven't seen a xml with a re-signature but maybe @yaronn know more about this

[2015-11-26 15:02] Gustavinho commented on #81
I don't think it'll be valid to the standard, but is a requirement of electronical invoice in México,  I tried to do it but the first and the second sign has the same digestvalue always, I don't know if it'll be ok

[2015-11-26 16:01] bjrmatos commented on #81
i'm closing this because is not an issue, feel free to keep comment.

mmm interesting, i have implemented electronical invoice in Perú.. in that case there is no need for re-sign the document. if i understand correctly mexico (and other countries in south america) use the UBL standard for electronical invoices, is that correct?

[2015-11-26 16:01] #81 closed

[2015-11-26 16:17] Gustavinho commented on #81
Peru uses the UBL standard, but Mexico don't, Mexico has own standard, and it has many different process, one of them requires a resigned xml, and I just read that also requires a canonicalization method 1.1, I don't know if xml-crypto supports this method

[2015-11-26 16:33] bjrmatos commented on #81
xml-crypto support canonicalization methods and extending with custom canonicalization methods, but i don't know how the canonicalization 1.1 works (maybe is just one of the supported canonicalization methods that xml-crypto have but with other name).

if you create a repository, i can help you to test the re-sign to a document. unfortunately i don't know coffeescript so you should create the repo

[2015-11-26 16:38] Gustavinho commented on #81
Thanks so much, I'll create a repository in javascript, and now I have an exact example with the xml signes an resigned, I'll also add it to repository

[2015-12-12 20:52] bjrmatos commented on #35
i think this is cover in latest version of `xml-crypto`. if not please re-open the issue

[2015-12-12 20:52] #35 closed

[2015-12-17 17:44] klinkov commented on #68
Any news? Still not working :(

[2015-12-21 00:54] bjrmatos commented on #68
sorry guys, right now i don't have the time to implement this but i'm planning to do it some time later.. PR are highly welcome!

[2015-12-21 23:19] yaronn commented on #68
:+1:

[2016-01-20 02:42] renatoargh commented on #28
I am having the opposite problem; whem I pass `&quot;` as a nodes value it comes out (after signing) as a regular `"` breaking signature :/

To reproduce; https://tonicdev.com/renatoargh/569eed41c4e01c0d005a3327 (expand the results and click `Full Text`)

Any ideas?

[2016-01-22 01:29] yaronn commented on #28
does it work if you use getSignatureXml() instead of getSignedXml() and construct the final result yourself? what if you use &amp;quot;? I think it might be an issue with the xmldom dependency, you can verify by loading some xml with quote to it and then run toString() on the node.

[2016-01-27 23:01] siacomuzzi opened #83 "new version?"
could you please publish a new version including latest 2 commits?

Thanks!

[2016-01-27 23:21] bjrmatos commented on #83
any use case for that? it is just a refactor of the [this commit](https://github.com/yaronn/xml-crypto/commit/50824066c56b8ad2e6a64c76810de53888e07cee) and we'll probably remove that code because it is supporting malformed xml. see this thread for [more information](https://github.com/yaronn/xml-crypto/pull/82).

but i'm curious if you're relying on this behaviour for something in particular

[2016-01-27 23:31] bjrmatos commented on #83
also, i will take the opportunity to ask.. would you like to join efforts with us? i ask this because i've noticed that you guys (the auth0 team) [have a fork of xml-crypto](https://github.com/auth0/xml-crypto), i've seen other libraries relying on that fork and i think this is bad, we're just duplicating efforts and really the auth0 fork only have some commits different to the main repo.

would y

[2016-01-28 13:43] siacomuzzi commented on #83
Cool, I think I'm OK with the [specified commit](https://github.com/yaronn/xml-crypto/commit/50824066c56b8ad2e6a64c76810de53888e07cee).

That would be great. If you are OK, I can send you a PR with the following changes:

* https://github.com/auth0/xml-crypto/commit/72a56c44a633f3560c7e045f9433e3208117aa63
* https://github.com/auth0/xml-crypto/commit/55296d32cd523d597a403039cac7a58383485e75

And t

[2016-01-28 15:07] bjrmatos commented on #83
cool!, unfourtanly i have no experience with `InclusiveNamespaces` so we'll need the help of @yaronn here.

@yaronn [the workaround](https://github.com/auth0/xml-crypto/commit/25a3d1c00fd0751530f7a06f7219c6eb6860412d) looks good to you? how it can be less tricky?

[2016-01-29 18:01] yaronn commented on #83
It would be great to join efforts, really like the idea!

As for the workaround - I think another approach could be to have this code inside the canonization class such that the class is aware of the inclusive namespaces and can embed them on the right element in a generic manner (not just a fixed list of nodes). There shouldn't be a need to wait for the failure of the initial validation since we

[2016-01-30 05:20] siacomuzzi opened #84 "signed assertion + signed message + "ds" prefix defined only at the root of the XML"
Hi guys,

I have a scenario where I need to validate a saml response with the following conditions:
- Assertion was signed
- Message (saml response) was signed too
- The "ds" prefix was defined only at the root of the XML (it's not in the Signature node)

Now, time to validate both signatures with the `SignedXml` class (`sig.checkSignature`):
- For the message signature validation, everything work

[2016-01-30 16:46] yaronn commented on #84
Can you try adding manually (or via code) the ds prefix to the saml (the root from which you validate)?  This might make the large signature not valid but this is just for testing.Seems a similar issue to https://github.com/yaronn/xml-crypto/issues/48. Possibly when canonicalizing a namespace definition which is outside the signed element scope is ignored (though it's strange). You can also try to

[2016-01-30 18:49] bjrmatos commented on #84
@siacomuzzi i would like to help you to debug this scenario. i need three things (if possible)

- the exact code that you're using for validate the two signatures.
- the public key for this signature, so i can test it on my machine.
- the original xml file (i know you're pasting it here but you know just to be sure that any content is not being lost)

if you can publish these three things behind a

[2016-01-30 19:34] siacomuzzi commented on #84
Thanks for the help guys. I will send you more information tomorrow. For now, let me show you the canonicalized xml for each case:

For the __message signature validation__ (where everything works as expected), this is the canonicalized xml __(signature is not present and `xmlns:ds` declaration is at the root, like the original SAML Response)__:

[code]

For the __assertion signature validation__,

[2016-01-30 20:09] bjrmatos commented on #84
according to the `InclusiveNamespace` transform i see that it defines `PrefixList="xs saml xsi"` but i only see the `saml` namespace in the canonical form of `<saml:Assertion>`.

@yaronn  as i say before i don't know much about inclusive namespaces but following your comments in #48 the `<saml:Assertion>` tag need to be `<saml:Assertion xmlns:xs="..." xmlns:saml="..." xmlns:xsi="..."></saml:Assert

[2016-01-30 22:05] yaronn commented on #84
@siacomuzzi - what do you mean that the signature node is not present? I see it in both cases. Please publish the original xml, and the canonicalized xml in both cases. Just to verify - did you try tto add the ds prefix definition on the saml:Assertion node in the *original* xml (not one which is an output of xml-crypto) and without deleting any other nodes?

@bjrmatos - exactly like you say, we n

[2016-01-31 23:09] siacomuzzi commented on #84
I published the original xml in the [issue's description](https://github.com/yaronn/xml-crypto/issues/84#issue-129941557) and both canonicalized xmls in [my last comment](https://github.com/yaronn/xml-crypto/issues/84#issuecomment-177281616).

Please note that for the __message signature validation (samlp:Response)__, the canonicalized xml does not contain the `<ds:Signature>` node between `</saml

[2016-01-31 23:14] siacomuzzi commented on #84
Ok, validation is working if I perform the following 2 changes:

* @yaronn suggestion:

Add (manually) the `ds` prefix definition on the `saml:Assertion` node in the original xml:

[code]

* @bjrmatos suggestion:

Identify which namespaces are in scope and add them before canon xml generation:

[code]

[2016-02-01 15:46] bjrmatos commented on #84
so it is working, cool! now lets fix it in core.

can i ask you to setup a repository with these things? i would like to test it in my PC and find a solution in core.

[2016-02-01 16:01] siacomuzzi commented on #84
Sure, I'm on it.

[2016-02-01 22:52] siacomuzzi commented on #84
@bjrmatos let me know if this helps: https://gist.github.com/siacomuzzi/fbcc33183330b4b2f845

(just to simplify things, I have signed only the saml assertion)

[2016-02-02 03:10] bjrmatos commented on #84
@siacomuzzi thnk you! i will play with the example to see how we can fix this

[2016-02-02 03:41] bjrmatos commented on #84
@siacomuzzi the embeded xml in the gist is a bit different from what you have show to us.

it doesn't have a signature in `<samlp:Response` and the signature in saml assertion doesn't have a `InclusiveNamespaces` transform

[2016-02-02 03:52] bjrmatos commented on #84
the error i have is:

[code]

not related to the digest check, related to the signature check. the cert in the code is correct?

[2016-02-02 04:05] siacomuzzi commented on #84
As I said before, I signed only the saml assertion in order to reproduce only the first issue (`saml assertion signature has a prefix but namespace is defined on parent`).

You are right. I'll check the signature.
But, if you have commented the workaround code, the error is: `invalid signature: for uri #_In4F5FniO45yNLZU4kM7bm6NLtraUwsJ calculated digest is mXQ0tu6WeQNf3z3a8xDa3I43xArpx7YiN7Wj3o3H

[2016-02-02 04:15] bjrmatos commented on #84
yes! but i've found a solution that don't require any workaround.

[code]

i have updated `checkSignature` method to accept a node object instead of a plain xml string, so instead of doing this `var valid = sig.checkSignature(assertion.toString());` you can do `var valid = sig.checkSignature(assertion);`. xml serialization in `xmldom` is too problematic when trying to serialize a child node (saml

[2016-02-02 04:16] bjrmatos commented on #84
i have updated `checkSignature` locally, you need to update your `xml-crypto` local package to see this

[2016-02-02 04:16] bjrmatos commented on #84
with this change the only error i'm receiving is about the invalid signature

[2016-02-02 04:41] siacomuzzi commented on #84
You are right! With your solution I can remove my workaround and validation works fine.

Sorry about the invalid signature error, since I can't share with you the real SAML Response, I'm trying to create a fake one with a script.

[2016-02-02 04:41] bjrmatos commented on #66
added a task to remove the code added [here](https://github.com/yaronn/xml-crypto/pull/82) if more info is not provided.

[2016-02-02 04:47] bjrmatos commented on #84
@siacomuzzi excellent news! one error fixed! lets go with the `InclusiveNamespace` error.

if you can share with me a gist like the previous one but with an xml with `InclusiveNamespace` transform i can fix it. (i'll publish all these changes when the `InclusiveNamespace` error is fixed)

[2016-02-02 04:53] siacomuzzi commented on #84
Sure, I can prepare it for tomorrow. Thanks for the help!

[2016-02-02 11:25] marklagendijk commented on #45
I stumbled on the same problem. Full example for the solution using forge:
[code]

[2016-02-02 19:29] siacomuzzi commented on #84
@bjrmatos [the gist for the first issue](https://gist.github.com/siacomuzzi/fbcc33183330b4b2f845) was fixed and it's working with your solution (_update SignedXml.prototype.checkSignature in order to support a xml node object_)

I'm trying to reproduce the 2nd issue (`InclusiveNamespace` transform).

[2016-02-02 19:42] bjrmatos commented on #84
@siacomuzzi cool! i will try it when i get back home

[2016-02-02 20:19] siacomuzzi commented on #84
The script for the 2nd issue (`InclusiveNamespace` transform) is available [here](https://gist.github.com/siacomuzzi/fbcc33183330b4b2f845#script---issue-2).

It's the same SAMLResponse I used for the 1st issue, but adding `<xc14n:InclusiveNamespaces xmlns:xc14n="http://www.w3.org/2001/10/xml-exc-c14n#" PrefixList="samlp xs saml xsi ds" />` node before sign the assertion.

[2016-02-02 21:09] bjrmatos commented on #84
@siacomuzzi thank you a lot! i will dive into it!

[2016-02-03 04:23] bjrmatos commented on #84
i see that the workaround for `InclusiveNamespaces` doesn't work here event if `supported_definitions` is changed to
[code]

but if PrefixList is `"xs saml xsi"` it works, right? (with the workaround)

[2016-02-03 04:32] bjrmatos commented on #84
@siacomuzzi is there any possibility that you can see what is the content that gets hashed? (when signing the document) that would help to compare against the canonXML that we get in `xml-crypto`

[2016-02-09 05:03] cherchyk opened #85 "merge request"
hi

Is it possible to get this change https://github.com/ModunZhang/xml-crypto/commit/7b6a9dc1fe06a4e33b0ee5a8dd70e72658202d9f
merged to the main module?

I Use passport-saml and it has dependency on XML-Crypto and this https://github.com/ModunZhang/xml-crypto/commit/7b6a9dc1fe06a4e33b0ee5a8dd70e72658202d9f has the feature I need

[2016-02-09 05:07] cherchyk commented on #85
Here is XML I need to parse with
`<Transform Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315" />`

[code]

[2016-02-09 05:12] bjrmatos commented on #85
That commit is not enough to support xml c14n, exclusive c14n (exc14n) is mostly identical to c14n but have some extra details. It could work on some cases but it not spec compliant

[2016-02-09 05:14] cherchyk commented on #85
my project is really depends on it to be available.  What can I do to make this feature available in module?  Maybe it's stupid question but Is it a lot of work to add this support?

[2016-02-09 05:17] bjrmatos commented on #85
If you need to fake the support for c14n (just like that commit) you can register a [custom transformation algorithm](https://github.com/yaronn/xml-crypto#customizing-algorithms) that uses the exc14n that is implemented in xml-crypto.

FYI We have plans to support c14n but we need to find the time to work on it

[2016-02-09 05:20] cherchyk commented on #85
when do you think you may have time?  Is it a week or a month?  I can wait some time  :)

[2016-02-09 05:21] bjrmatos commented on #85
@cherchyk for c14n support what it needs to be done is basically read the W3C spec of c14n compare it against the exc14n spec (implemented in xml-crypto), identify the required changes and based on the ExclusiceCanonicalization code just support it

[2016-02-09 05:22] cherchyk commented on #85
probably it sounds easy to you but for me it's a new universe I will need to discover...

[2016-02-09 05:24] bjrmatos commented on #85
@cherchyk hahaha it is not easy for me too, i've spend the last week reading the c14n spec.. Trying to understand it, xml things are not my specialty

[2016-02-09 05:30] bjrmatos commented on #85
I'm going to close this because it is a duplicate of #68 , feel free to keep comment on that issue

[2016-02-09 05:30] #85 closed

[2016-02-09 09:12] yaronn commented on #85
I agree you can get the same effect with something like:

SignedXml.CanonicalizationAlgorithms['http://www.w3.org/TR/2001/REC-xml-c14n-20010315'] =  SignedXml.ExclusiveCanonicalization

[2016-02-09 14:04] cherchyk commented on #85
thanks very much !

[2016-02-09 15:21] cherchyk commented on #85
this is all you have in module export

[code]

can you please also add

[code]
??

I ended doing this

[code]

but I'm not sure if will work correct.

[2016-02-09 22:33] yaronn commented on #85
Yes, this should have the same effect.

[2016-02-11 04:14] cherchyk opened #86 "signed SAML in .net is not verified in xml-crypto"
Hi,

Signed SAML in .net is not verified in xml-crypto.  I don't know what to do.  Can someone help?

[code]

[2016-02-11 09:32] tngan commented on #86
Hi @cherchyk
Signing root node would not be a problem since Sep last year. See issue [here].(https://github.com/yaronn/xml-crypto/issues/38)

I've repeated the validation process, got an error `sig.validationErrors` like:

`'invalid signature: for uri #_d1ad632b-ea2d-49ca-afa6-4905ebcf213b calculated digest is KJZ2NLaYN14BH964V9RKmbGPqnM= but the xml to validate supplies digest SKPqCOyo5IUr6bD9lQd

[2016-02-11 16:19] cherchyk commented on #86
yes error is the same that I have

'invalid signature: for uri #_d1ad632b-ea2d-49ca-afa6-4905ebcf213b calculated digest is KJZ2NLaYN14BH964V9RKmbGPqnM= but the xml to validate supplies digest SKPqCOyo5IUr6bD9lQdV3KjzDfo='

this SAML response was generated on .net
in node it was not validated

it's related to how algorithms are implemented in .net and node...

[2016-02-11 16:33] tngan commented on #86
Would you like to provide the .NET code using for signing ? Also can you verify the signature the same signature in .NET ?

Can you also try to sign your SAML response using same private key with this module ? Using the corresponding algorithms and see if the signature is really different.

Instead of signing the root node, can you try again to sign the `<Assertion>...</Assertion>` section ? See i

[2016-02-11 19:39] bjrmatos commented on #86
that XML looks like it has an invalid signature.. when you sign a root node and the generated signature is placed inside the root node, that process is called an enveloped signature. i don't see any `<Transform Algorithm="http://www.w3.org/2000/09/xmldsig#enveloped-signature" />` in your xml so it is most likely that you're not signing the document correctly

[2016-02-11 20:10] rmhrisk opened #87 "Work in Browser also"
Right now the library appears to be node specific, if it were moved to use WebCrypto and took a dependency on a polyfill for WebCrypto on node like mine here https://github.com/PeculiarVentures/node-webcrypto-ossl it should, based on a limited review, work both in browser and on the server side.

[2016-02-11 21:55] cherchyk commented on #86
there is

[code]

[2016-02-11 23:29] bjrmatos commented on #86
that is a transform for exclusive canonicalization not an enveloped-signature transform

[2016-02-13 18:29] yaronn commented on #87
yes, it's a great idea, just need to find the time to do it... I think someone previously replaced the crypto node module in xml-crypto with the forge library which can run in the browser too. What would be the trade off with WebCrypto?

[2016-02-13 18:52] rmhrisk commented on #87
The only downsides can think of might be reduced algorithm support in that Webcrypto defines a limited set of algorithms.  That said based on a quick review I don't see anything you would be missing.

[2016-02-13 19:27] yaronn commented on #87
:+1:  thanks for the quick analysis.

[2016-02-13 19:41] rmhrisk commented on #87
No problem, also on the node side, I would be happy to add whatever algs you need if it was a barrier even if not specified in WebCrypto as long (as they were not insecure). Again though, I dont see anything so this should be all upside.

[2016-02-13 19:42] rmhrisk commented on #87
I should add there are good examples for using WebCrypto here - https://github.com/diafygi/webcrypto-examples/

[2016-02-13 19:52] rmhrisk opened #88 "Support certificate validation"
I have a pure Javascript library that supports robust X509 certificate chain validation, it works well in both node and the browser.

You can find the current version here: https://pkijs.org

It is based on WebCrypto, to work on node it uses another library I had put together here : https://github.com/PeculiarVentures/node-webcrypto-ossl

It seems, in general, you have decided to model afer the Si

[2016-02-13 19:54] yaronn commented on #87
Cool! I don't know if this is something @bjrmatos and I can get to soon but we are very open to any PR around this. Based on my understanding the effort is to replace the dependency in the crypto module with WebCrypto.

[2016-02-13 19:55] rmhrisk commented on #87
We are pretty busy with some updates to our own libraries right now but I am interested ins seeing this done (though we don't use this package this time) so if we can free a couple days we will do a PR, but please if you have the time don't wait for us :p

[2016-02-13 19:58] yaronn commented on #88
Yeah, I was a Microsoft mvp for a while on WCF and was very impressed with the signature API, great work!

Same deal as with the other suggestion - hope to get to it but given I have recently started a new job may take a while.

[2016-02-13 19:59] rmhrisk commented on #88
I can totally relate :p  this is another 2-3 days of work with some testing I think, I will put it on the list, but again dont wait for us :)

[2016-02-13 20:06] rmhrisk commented on #87
Oh yes, one more reason why this might be interesting is I am releasing a node-webcrypto-p11 module soon, this would give access to hardware security modules and smart cards.

[2016-02-13 20:10] yaronn commented on #87
very cool! smart cards is definitely a required feature.

[2016-02-13 20:14] rmhrisk commented on #87
(to be clear that would only work server side)

[2016-02-14 00:50] bjrmatos commented on #87
sounds good to me! i think this will be something really good to have in the 1.0 release, right now i'm trying to find the time to implement xml c14n so i think we'll wait for your PR :P

[2016-02-14 00:53] bjrmatos commented on #88
i'm curious and i need to ask something..

what is the difference between [PKIJS](https://pkijs.org/) and [node-forge](https://github.com/digitalbazaar/forge)?

[2016-02-14 01:08] rmhrisk commented on #88
Forge set out to implement TLS in Javascript, it did this before there was WebCrypto so it imported a bunch of javascript implementations of crypto for those operations (including some insecure algorithm choices even then). For more on Javascript cryptography check out this article: https://tonyarcieri.com/whats-wrong-with-webcrypto

Its primary goal was to implement TLS so the support for anythin

[2016-02-14 01:10] rmhrisk commented on #87
I've implemented C14n several times, I feel your pain. May the force be with you ;)

If you have any questions re: C14n or doing the switch to WebCrypto do not hesitate to ping me.

I will put this on our internal list of projects to help out will pull requests and hopefully we can get to doing this in the comming months.

This is a great project, I look forward to it being in a state we can use i

[2016-02-14 01:16] bjrmatos commented on #87
thnks! definitely more people using xml-crypto is our goal!

[2016-02-14 01:19] bjrmatos commented on #61
i'm closing this until more information is provided.

[2016-02-14 01:19] #61 closed

[2016-02-14 01:21] rmhrisk commented on #61
This is what they want : https://xadesnet.codeplex.com/

I would like the same thing ;)

[2016-02-14 01:27] bjrmatos commented on #88
thnks for you detailed explanation!

one more question:

do you have plans to ask node-forge's mantainers to rely on PKIjs? i think everybody will win if that happened

[2016-02-14 01:43] rmhrisk commented on #88
I would be happy to support them rewriting but I strongly suspect they would have no interest in doing that.

Based on my experience those who use forge do not do so for TLS, they do so for those other bits they had to implement to get a working TLS implementation.

I am also unable to identify a case where a pure JS TLS implementation provides much production value outside some fridge cases weird

[2016-02-14 01:47] bjrmatos commented on #88
you're right i have used it to parse X509 certificates hahaha

again thnks for your toughts.

[2016-02-14 01:51] bjrmatos opened #89 "support XAdES"
related to #61

reference: https://xadesnet.codeplex.com/

[2016-02-14 01:53] bjrmatos commented on #61
i've opened a separate issue for XAdES :+1:

[2016-02-14 03:10] rmhrisk commented on #89
This is also a good reference https://www.microsoft.com/france/openness/open-source/interoperabilite_xades.aspx

[2016-02-24 19:42] carbonrobot opened #92 "Digest calculation with Java endpoint"
I am connecting to a java endpoint that calculates the digest in a different way. I believe it has something to do with an option to sign the Timestamp element itself or the Timestamp content.

For the following xml fragment:

[code]

Java produces the following transform:

[code]

However, the same xml fragment produces a different digest value using xml-crypto. I am assuming it has something to

[2016-02-25 01:11] yaronn commented on #92
Some things to try:

- remove all white space and sign in bot platforms (just to see if it is the cause)
- explicitly add the ws, soap namespaces on the Timestamp element OR tell java not to use the InclusiveNamespace canonicalization

If you are in position to use the Java signature API (and not only via SOAP calls) thank it might be easy to do more tests in the same fashion to understand what ex

[2016-02-25 18:59] yaronn commented on #92
it seems you were able to modify the soap which xml-crypto works on to produce a digest which matches java, right? Can you explain why this cannot be used always?

[2016-02-25 19:25] yaronn commented on #92
not sure I fully understand. you have a java web service which expects a
signed soap message. it only works with java clients, and rejects
singatures created by .net and javascript. is this correct? now you said
you were able to make xml-crypto create a signature which is identical to
the java one by adding those namespaces. does the server accepts this
message? why not always add these namespaces

[2016-02-25 19:51] yaronn commented on #92
I think the main issue is that java uses InclusiveNamespaces which xml-crypto (and .net) do not. most servers do not care about it, seems the server you use is sensitive to this.

The way all xml signature libraries work is:

1. you have some xml:
[code]
2. you tell your library you want to sign &lt;y&gt;

3. your library produce a canonicalized version of it:
[code]
4. that version is converted t

[2016-02-28 22:06] iamnewspecies opened #93 "'invalid signature : Signature generation not working properly"
I am using the following code as given in the readme. But I am getting "invalid signature" when I verify the code with the code given on Readme of project. What am I doing wrong?

I know that the verifier is generating the correct digestValue but the initial code which generates the hash is generating the correct digestValue.

[code]

I am getting this as the response :

`[ 'invalid signature: for

[2016-02-28 23:09] iamnewspecies commented on #93
After doing console log of :

[code]

and console.log of this :
[code]

I get different values in the canonXml.

One has :
<HbtMsg type="ALIVE" value="NA" Id="_0"/>
And the other has :
<HbtMsg Id="_0" type="ALIVE" value="NA"></HbtMsg>

These two are basically the same.** How should I handle this issue?**
Note : The second canonXml yields the correct hash.

[2016-02-28 23:50] bjrmatos commented on #93
can you give us the original xml that you are trying to sign?

[2016-02-29 00:10] bjrmatos commented on #93
i was able to reproduce your issue, to make it work you only need to add `http://www.w3.org/2001/10/xml-exc-c14n#` to the array of transforms.

demo:
![xml-crypto-issue](https://cloud.githubusercontent.com/assets/4262050/13382972/ef616544-de4e-11e5-8097-46a9e3c334ea.gif)

[2016-02-29 00:22] bjrmatos commented on #93
the reason for it doesn't work without specifying the exc-14n transform is because [this line](https://github.com/yaronn/xml-crypto/blob/master/lib/signed-xml.js#L417).

As you can see when xml-crypto tries to load a reference (necessary to validate the whole signature), if it detects that the reference has only used the `http://www.w3.org/2000/09/xmldsig#enveloped-signature` transform, it adds a

[2016-02-29 00:28] bjrmatos commented on #93
just for the record.. i knew about this special case sometime ago (I found it in one of the applications developed) but didn't say nothing because i was able to find a workaround :sweat_smile:

[2016-02-29 04:46] #93 closed

[2016-02-29 05:11] iamnewspecies commented on #93
There is one more problem now. I referred to this [URL](https://github.com/yaronn/xml-crypto/issues/24) to fix empty reference thing. I have same console.log in place as I mentioned in my second comment. Now the output I get for those console.log is:
1st

`<HbtMsg type="ALIVE" value="NA"></HbtMsg>`

2nd

`<upi:ReqHbt xmlns:upi="http://npci.org/upi/schema/"><Head msgId="HENSVVR4QZS7X1UGPY7JGZZ444PL

[2016-02-29 05:22] bjrmatos commented on #93
in order to help you, this time i will need the original xml so i can test it on my own

[2016-02-29 05:25] iamnewspecies commented on #93
I had already provided my original XML in the previous comment.
Still here is my input :
`<?xml version="1.0" encoding="UTF-8" standalone="no"?><upi:ReqHbt xmlns:upi="http://npci.org/upi/schema/"><Head msgId="HENSVVR4QZS7X1UGPY7JGZZ444PL9T2C" orgId="410004" ts="2015-02-16T22:02:25+05:30" ver="1.0"/><Txn id="2241" note="Heart beat" ref="" ts="2015-02-16T22:02:25+05:30" type="Hbt"/><HbtMsg type="ALI

[2016-02-29 05:34] bjrmatos commented on #93
ups! sorry didn't see it, i have to go out will review it tomorrow

[2016-02-29 05:38] iamnewspecies commented on #93
@yaronn

[2016-02-29 05:46] bjrmatos commented on #93
ok, as the xml signature process describes if you specify an empty URI for the reference, that means that the whole xml document is signed not just the `HbtMsg` tag, thats the reason why your second console.log is `<upi:ReqHbt xmlns:upi="http://npci.org/upi/schema/"><Head msgId="HENSVVR4QZS7X1UGPY7JGZZ444PL9T2C" orgId="410004" ts="2015-02-16T22:02:25+05:30" ver="1.0"></Head><Txn id="2241" note="He

[2016-02-29 05:48] bjrmatos commented on #93
if you need to sign the whole document and put the signature inside the `HbtMsg` tag you can use the `location` option in the `computeSignature` method.

[example](https://github.com/yaronn/xml-crypto#how-to-specify-the-location-of-the-signature)

[2016-02-29 10:11] iamnewspecies commented on #93
Thanks a lot.

Had to change the
`sig.addReference("//*[local-name(.)='HbtMsg']", ['http://www.w3.org/2000/09/xmldsig#enveloped-signature'], 'http://www.w3.org/2001/04/xmlenc#sha256');`

to

`sig.addReference("//*[local-name(.)='ReqHbt']", ['http://www.w3.org/2000/09/xmldsig#enveloped-signature'], 'http://www.w3.org/2001/04/xmlenc#sha256');`

[2016-03-01 12:13] KimDongHwan opened #94 "InclusiveNamespaces are not considered in the Canonicalization algorithm"
Hi I have read the other issues but haven't found a solution to this problem.

I am trying to validate a signature that has `InclusiveNamespaces` as a child of the `CanonicalizationMethod` like this:

[code]

This should generate a canonicalized form with the namespace included, like this:

[code]

but is only generating the `ds:SignedInfo` node with only one namespace (I think in the code is refe

[2016-03-01 20:26] yaronn commented on #94
what is the xml you try to validate? try (just for testing) to add the root element you validate the xmlns:soap definition. alternatively try to add that definition to the defaultForPrefix struct.

[2016-03-01 20:45] KimDongHwan commented on #94
Hi, I tried those and others solutions without success. So I had to extend (as a patch) what the `getCanonXml` does and hardcoded the namespace `soap` in the `SignedInfo` node. I will try to find where the real problem is (in my code or the library) and will report it if I find it.

[2016-03-01 21:06] yaronn commented on #94
cool, glad to hear you found a way to make it work for you

[2016-03-03 13:53] marklagendijk opened #95 "Incorrect digest when xml contains xml:lang"
When you have an `xml:lang` attribute in your xml the calculated digest is wrong. E.g:

[code]

The error works both ways, if you validate using xml-crypto itself it returns `true`.

## Reproduction
1. Go to xml-crypto/example.
2. `node example.js`
3. `xmlsec1 --verify --id-attr:Id book --pubkey-cert-pem client_public.pem result.xml`. Note that it succeeds.
4. Add `xml:lang="en"` on the `name` tag

[2016-03-04 12:30] christian-boks opened #97 "xpath bug in Verifying Xml documents example"
The example says:
`var signature = select(doc, "/*/*[local-name(.)='Signature' and namespace-uri(.)='http://www.w3.org/2000/09/xmldsig#']")[0]`

But it should be:
`var signature = select(doc, "//*[local-name(.)='Signature' and namespace-uri(.)='http://www.w3.org/2000/09/xmldsig#']")[0]`

[2016-03-04 15:35] bjrmatos commented on #97
in fact the xpath is correct, it will look in the second level of hierarchy of the XML (where the signature is located in the example)

[2016-03-05 15:26] yaronn commented on #95
thanks @marklagendijk for your contribution.
I'm also not sure what the spec means. the spec here https://www.w3.org/TR/xml-exc-c14n/ says:

based on this I believe the attribute with the xml prefix should be serialized in the example you gave.
of course sometimes most implementations behave different than the standard in which case if might be ok for us to adjust too. what do you think? any idea

[2016-03-05 18:27] #65 closed

[2016-03-05 18:29] #97 closed

[2016-03-05 18:36] bjrmatos commented on #95
is there some online exc14n service? we can compare the output produced by an online service or a script in another lang (php, c#, java)

[2016-03-05 20:07] marklagendijk commented on #95
@yaronn the part of the spec you quoted talks about the attributes themselves, not about their namespace.
The question is whether you need to explicitly define the xml namespace. As I understand it you should not do this, because this namespace is [a reserved namespace](https://www.w3.org/XML/1998/namespace) which is bound by default, and should not be explicitly defined.

I am quite sure that my

[2016-03-05 20:34] bjrmatos commented on #95
interesting, didn't know about the `xml` namespace is reserved (makes sense)

LGTM!

[2016-03-06 20:32] yaronn commented on #95
@marklagendijk - makes sense, thanks for the research & fix!

@bjrmatos I think we can merge this and publish a version together with #98.

[2016-03-06 23:04] bjrmatos commented on #95
published in v0.8.3! thnks @marklagendijk

[2016-03-06 23:04] #95 closed

[2016-03-07 08:05] christian-boks commented on #97
The sample works just fine when you use `//*` All the other examples use this notation, and if you use a real bit of XML like a SAMLv2.0 Response it will work too, whereas `/*/*` will not.

[2016-03-07 16:44] bjrmatos commented on #97
the xpath will always depend on the format of the xml.

if you can send a PR updating the example i have no problem to merge it :smile:

[2016-03-09 17:24] marklagendijk commented on #28
I ran into the same issue and found the cause. The ExclusiveCanonicalization replaces certain characters with entity references.
The problem is that it uses the same replacement maps for attributes and text. This is [wrong](https://www.w3.org/2008/xmlsec/Drafts/c14n-20/test-cases/#sec-Example-Chars):

The solution would be to create separate normalizing functions for normalizing attribute values a

[2016-03-12 20:27] #28 closed

[2016-03-18 19:13] jcassee opened #100 "Supporting <Transforms> in signatures"
I have a signed XML document that uses XSL transformations before signing / verifying. This is the signature:

[code]

It seems I would be able to add support by adding an object to `SignedXml.CanonicalizationAlgorithms`:

[code]

I can probably do the transformations using the browser's `XSLTProcessor`, but I am unsure how to get to the transformations at this point.

Do you have any suggestions?

[2016-03-19 21:01] microshine opened #101 "Double call of 'new'"
https://github.com/yaronn/xml-crypto/blob/master/lib/signed-xml.js#L701
call `new` for result of `findCanonicalizationAlgorithm` function

But function `findCanonicalizationAlgorithm` returns initialized object
https://github.com/yaronn/xml-crypto/blob/master/lib/signed-xml.js#L289-L293

[2016-03-19 21:11] bjrmatos commented on #101
good catch! wanna do a PR?

[2016-03-19 21:16] microshine opened #102 "Error with CanonicalAlgorithm implementation"
[code]

All algorithms have got `process` function, but with different result types

[code]

It can be a problem with `createSignature` function
https://github.com/yaronn/xml-crypto/blob/master/lib/signed-xml.js#L701-L704
because `signatureAlgorithm.getSignature` needs `signedInfo: string | Buffer`

[2016-03-21 01:43] yaronn commented on #102
You are right that this is confusing and bad coding. I don't expect this to be a problem in practice since an EnvelopedSignature does not make sense as a canonicalization algorithm for the signature. But we should definitely get rid of this when we have a chance.

[2016-03-21 02:09] yaronn commented on #100
You would need to add the Canonicalization classes (at least the new one) a method loadParams (or alike) that loads the xml childs into local parameters.
You also need to make SignedXml.prototype.addReference receive a new param transformProperties  and persist it in the Reference model. Than make findCanonicalizationAlgorithm get the params too and call loadPrams. Propogate to findCanonicalizatio

[2016-03-21 11:52] jcassee commented on #100
Thanks, Yaron, this is very helpful. Good point about knowing the XSLT. In fact, it *is* fixed, so I can hard-code the translation in the project.

I will close this ticket now. (Sorry for using it as a support medium.)

Again, thank you!

[2016-03-21 11:52] #100 closed

[2016-03-21 17:44] microshine commented on #102
The same error with

[code]

`process` - can return Node
`getSignature` - 1 param must be string

[2016-03-21 17:57] microshine opened #104 "Type error: signingKey"
`getKey` returns `Buffer`, but `getSignarure`, uses `signingKey` like string

[code]

[Source code](https://github.com/yaronn/xml-crypto/blob/master/lib/signed-xml.js#L26)

[code]

[Source code](https://github.com/yaronn/xml-crypto/blob/master/lib/signed-xml.js#L88)

[2016-03-21 22:18] jcassee commented on #100
I have hard-coded the XSLT canonicalization class, and the references are verified. Thanks again for that tip!

Unfortunately, the signature to the SignedInfo section itself cannot yet be validated. The error message is ""invalid signature: the signature value 			s2gbf[...]v/A==		 is incorrect". This leads me to think that section is not canonized correctly. I am unsure whether this is a problem w

[2016-03-22 17:47] yaronn commented on #100
it's probably tricky to debug, and depends on how much flexibility you have with the other stack you interact with. maybe try a simple message (no whitespaces or namespaces) and see which step breaks (canonicalization, signing etc). you could also try to sign the full message with the other stack. make sure you use the same key / algo.

[2016-03-22 17:54] yaronn commented on #104
nice catch. since signing is working there is probably some implicit conversion somewhere (I bet on signer.sign) but we should fix it for sure.

[2016-04-13 20:35] microshine opened #106 "Canonicalize error"
I have a simple progrem on C#.NET, it allows to get C14N and EXC-C14N results from XML

https://github.com/yaronn/xml-crypto/blob/master/test/canonicalization-unit-tests.js#L83-L89

I checked result for example from link. It has difference. Seems that the namespace processing is different

XML-CRYPTO result:

[code]

.NET EXC-C14N:

[code]

.NET C14N:

[code]

[2016-04-17 19:53] diegoavidal commented on #68
please i really need this :+1:

[2016-04-29 13:44] jykae commented on #88
Any status update on this one, is someone able to work on this?

[2016-05-06 00:34] rmhrisk commented on #89
We have built on this excellent library and have the foundation for XAdES here : https://www.npmjs.com/package/xadesjs

[2016-05-06 00:34] rmhrisk commented on #88
We have built on this excellent library and added basic X.509 support : https://www.npmjs.com/package/xadesjs

[2016-05-06 00:35] rmhrisk commented on #87
We have built on this excellent library have a package that works in both node and the browser here: https://www.npmjs.com/package/xadesjs

[2016-05-06 00:37] rmhrisk commented on #68
We have built on this excellent library have a package that implements C14N here: https://www.npmjs.com/package/xadesjs

[2016-05-06 00:41] rmhrisk commented on #102
We ended up fixing this in our implementation derived from this great package :  https://www.npmjs.com/package/xadesjs

[2016-05-06 03:46] bjrmatos commented on #68
@rmhrisk congrats for the release!

[2016-05-06 13:37] giggioz opened #107 "signature is empty"
Can you help me with this please?

[code]

[2016-05-06 13:58] yaronn commented on #107
I think you try to validate a signed receipt but RECEIPT_TEST does not contain any signature element inside it so the xpath in empty. for example see [this xml](https://github.com/yaronn/xml-crypto/blob/c19bcba71b6c7191756c56ae6d1637794bade3a4/test/static/windows_store_signature.xml) and [this test](https://github.com/yaronn/xml-crypto/blob/c19bcba71b6c7191756c56ae6d1637794bade3a4/test/signature-i

[2016-05-06 15:05] giggioz commented on #107
Oh, that's clear, thanks.

By the way this is the xml msg i receive from windows store, looking at your [xml test](https://github.com/yaronn/xml-crypto/blob/c19bcba71b6c7191756c56ae6d1637794bade3a4/test/static/windows_store_signature.xml) i see that in my response the Signature part is missing.
May be you know why?

[2016-05-06 15:07] yaronn commented on #107
not sure, I have not worked with the store myself. possibly windows store has a mechanism to sign receipt other than xml signatures, or this is a testing xml, not sure. I'm sure in a forum related to windows store someone will know about that.

[2016-05-06 15:10] #107 closed

[2016-06-07 05:52] avckp commented on #102
Any pointers on how to fix this?
I do not have understanding of what the node is, but I would like to make the return type `string` for process method of the `enveloped` algorithm as I have immediate need for the same.
Otherwise are their any known mature implementations which do the same?

[2016-06-07 17:44] yaronn commented on #102
@avckp can you share the code that consumes xml-crypto? I want to understand the sequence of algorithms.

[2016-06-08 08:50] avckp commented on #102
@yaronn I need to generate the signature in the following format
[code]
My code looks like
[code]
Signing with this algorithm was failing (as enveloped-signature returns node in place of string), I modified the `SignedXml.prototype.createSignature` to use

`706  this.signatureValue = signatureAlgorithm.getSignature(**canonizedSignedInfo.toString()**, this.signingKey)`

While it gives me output, I

[2016-06-08 14:34] yaronn commented on #102
I think you mixed the algorithms you need. The right place to add the enveloped transformation is here:

      sig.addReference("//*[local-name(.)='Hmac']", ["http://www.w3.org/2000/09/xmldsig#enveloped-signature"]);

As for the canonicalization algorithm (http://www.w3.org/TR/2001/REC-xml-c14n-20010315), that algorithm is not supported yet. The documentation explains how to add algorithms if you

[2016-07-05 04:04] tngan opened #108 "Break the signature validation (0.8.2 -> 0.8.3)"
It works in release 0.8.2 but not 0.8.3. Follow the steps to replicate this issue.

1. This is the test script, test.js
[code]

2. Put the signed xml into same folder, called signed.xml
[code]

3. Run `node test.js` with version 0.8.2 and 0.8.3.

[2016-07-07 16:04] WhatFreshHellIsThis opened #109 "readme says enveloped-signature is supported but it doesn't work"
As per title, the code below works perfectly until you try to switch to enveloped-signature (commented line) and then it throws the following exception:

[code]

[2016-07-07 22:49] WhatFreshHellIsThis commented on #109
Maybe related to me using the npm installed package which I now realize may be waaaaay out of date?

[2016-07-07 23:50] WhatFreshHellIsThis commented on #109
Looks like a bug here:

[code]

I modified that return to be return node.toString() and it works however the generated signed document is questionable as it's missing some elements I think so perhaps this algorithm isn't fully fleshed out yet?

[2016-07-09 11:22] yaronn commented on #108
that version included this fix of special characters encoding:
https://github.com/yaronn/xml-crypto/pull/99
I don't see any of those characters in the sample xml though, maybe with the exception of line breaks.
check the first changed file in the link, if changing one of the methods back will work we can test further.

[2016-07-20 05:35] FraGoTe commented on #102
@yaronn  I added as you recommended but I got the following error:

Possibly unhandled Error: canonicalization algorithm 'http://www.w3.org/TR/2001/REC-xml-c14n-20010315' is not supported
    at SignedXml.findCanonicalizationAlgorithm (/Users/FraGoTe/Documents/Projects/xxx/node_modules/xml-crypto/lib/signed-xml.js:292:14)

[2016-07-20 05:50] FraGoTe commented on #102
I did :
[code]

But i got the same <ds:CanonicalizationMethod Algorithm="http://www.w3.org/2001/10/xml-exc-c14n#"/>

[2016-07-23 09:30] yaronn commented on #102
@FraGoTe make sure the first line you pasted is called before the second one. You can also try to hard code that algorithm here just to test https://github.com/yaronn/xml-crypto/blob/master/lib/signed-xml.js#L225

[2016-08-04 04:47] mayhs19 opened #110 "xml-crypto findattr does not handle null check well"
xml-crypto doesnt seem to handle null checks well
For example , or this function findattr under utils.js , node.attributes.length is used without checking if node.attributes is undefined.
[https://github.com/yaronn/xml-crypto/blob/c19bcba71b6c7191756c56ae6d1637794bade3a4/lib/utils.js#L4](url)

There might be other places that have this issue but I have come across this one for my application.Would

[2016-08-04 16:46] ponyesteves opened #111 "enveloped-signature must go first for verification to work properly"
Hi, i was dealing with a digest problem. The calculated digest when verifying was different from the generated when signing.  The problem i had was the order of the transform algorithm.
Have to change mi code from
[code]
The problem with the first code, was that exclusive-canonicalization algorithm returns a string and enveloped-signature can't find signature form string, it must recibe node forma

[2016-08-05 12:16] vini-guerrero opened #112 "How To Apply Custom Algorithm On CanonicalizationMethod?"
Hey guys!

Can anyone help me on applying this signature pattern? I read the documentation, but I can't understand it correctly.
Should this work?
sign.canonicalizationAlgorithm = "http://www.w3.org/TR/xmldsig-core/"
Thanks in advance!

![pattern](https://cloud.githubusercontent.com/assets/18181786/17436394/0e963596-5aed-11e6-8183-590d86723c90.png)

[2016-08-05 15:40] ponyesteves opened #113 "http://www.w3.org/TR/2001/REC-xml-c14n-20010315"
Hello @bjrmatos @yaronn, really need a hand with this. I read all the issues and PR relate to c14n and i am aware it's not supported yet. But perhaps someone could help me to solve this problem because i'm sure it's a namespace or whiterspace canonicalization diference that is bothering.

[code]

**I can' t verify this signature! I think it have something to do with the canonicalization process. T

[2016-08-05 17:04] jonfairbanks commented on #110
Seconding this comment. The lack of null checks in xml-crypto causes our application to crash hard in rare circumstances. Would be great to see some additional error handling added in.

[2016-08-05 21:36] markstos commented on #111
I think you are on the right track based on this spec: https://www.w3.org/TR/xmldsig-core/ in 6.6.3 XPath Filtering

[2016-08-06 16:46] yaronn commented on #113
is this related to to other thread (order of transforms)?
do you control both sides (e.g. signature and verification) or verify a message from a third party?

The best way to debug is to start with the smallest xml sample, sign it in both platforms, and see when the digest differs. I would start with one transform only if possible to isolate the issue. Also try with a small xml with no white space

[2016-08-06 16:49] yaronn commented on #112
I think the canonicalization algorithm you want is http://www.w3.org/TR/2001/REC-xml-c14n-20010315. It is not officially supported yet but you might find a workaround in #102 .

[2016-08-06 16:53] yaronn commented on #110
Thanks @mayhs19 for alerting on this, I will fix this issue. @jonfairbanks - can you send me stack traces of crashes so I can make make sure to include them in the fix?

[2016-08-06 19:50] jonfairbanks commented on #110
We're not using xml-crypto directly, but it is a dependency a few layers down. Most of the time this code works flawlessly but in rare occasions, we see this:

`TypeError: Cannot read property 'length' of undefined
   at Object.findAttr (/apps/snap/snapnodeweb/node_modules/xml-crypto/lib/utils.js:5:36)
   at SignedXml.loadReference (/apps/snap/snapnodeweb/node_modules/xml-crypto/lib/signed-xml.js:

[2016-08-07 01:09] vini-guerrero commented on #112
Can u help on how to workaround this @yaronn ?

Should it be something like this into signed-xml.js:

`var SignedXml = require('xml-crypto').SignedXml;
var fs = require('fs');

function MyCanonicalization() {
    /*given a node (from the xmldom module) return its canonical representation (as string)*/
    this.process = function(node) {
        //you should apply your transformation before returni

[2016-08-08 12:40] ponyesteves commented on #111
Yes @markstos I agree with that. The doubt I have is, say you have this code
[code]

[2016-08-08 12:51] ponyesteves commented on #113
@yaronn it' s not related with the other issue I post #111, thought they have in common they drive me crazy to resolve them. I make it throught the problem and make a summary here cause may be it can't help other with same problem.

as @bjrmatos comment on other post, the C14N (inclusive) and de EXC-C14N (exclusive) are very similar but have difference on the ise of namespaces. I 'm pasting and ex

[2016-08-08 13:14] vini-guerrero commented on #102
Could anyone run it for that algorithm?

 **sig.canonicalizationAlgorithm = 'http://www.w3.org/TR/2001/REC-xml-c14n-20010315';**

Any tips how to apply this?

[2016-08-08 19:33] ponyesteves opened #114 "defaultNs value when passed as option can't be user in exclusiveCanonicalization"
Hi, i'm not sure the objective of defaultNs parameter here, cause it's value can't be used.
In renderNs function the only use I see is to be compared with currNs . Am I missing something?

thanks

[code]

[2016-08-08 21:15] vini-guerrero commented on #113
@ponyesteves How did u include CanonicalizationMethod Algorithm="**http://www.w3.org/TR/2001/REC-xml-c14n-20010315** ?
Can u share that implementation blob?

[2016-08-09 13:16] ponyesteves commented on #113
Sure @vini-guerrero , it's more a hard coded implementation for this context.  The app must sign doc's to send to a gob department of Uruguay, the accept both c14n a exc-c14n. So in that case y sign straight away with exc-c14n. The problem was with docs or replies coming from them, most of witch are cononicalizated with http://www.w3.org/TR/2001/REC-xml-c14n-20010315, for document digest (transfor

[2016-08-10 19:14] markstos commented on #109
I tried this fix for a case I thought was the same, bit it didn't work. Instead, I got a different error:

"TypeError: Cannot read property 'length' of undefined".

Do you have a complete example an XML file that uses enveloped signature to demonstrate that the fix works as expected?

[2016-08-12 13:38] vini-guerrero commented on #113
@ponyesteves Thanks man! I've been analysing the code trying to understand where the implementations should be, that was very helpful, I'm using an online validator from brazil government, I think I'm almost there, correct a few tags and the validation went one tag higher level.
Just one more question about the signature changes...
Would you happen to know if the changes I wanna do should be appli

[2016-08-12 13:40] vini-guerrero commented on #113
@ponyesteves Thanks man! I've been analysing the code trying to understand where the implementations should be, that was very helpful, I'm using an online validator from brazil government, I think I'm almost there, correct a few tags and the validation went one tag higher level.
Just one more question about the signature changes...
Would you happen to know if the changes I wanna do should be appli

[2016-08-12 13:40] vini-guerrero commented on #113
@ponyesteves Thanks man! I've been analysing the code trying to understand where the implementations should be, that was very helpful, I'm using an online validator from brazil government, I think I'm almost there, correct a few tags and the validation went one tag higher level.
Just one more question about the signature changes...
Would you happen to know if the changes I wanna do should be appli

[2016-08-12 13:41] vini-guerrero commented on #113
@ponyesteves Thanks man! I've been analysing the code trying to understand where the implementations should be, that was very helpful, I'm using an online validator from brazil government, I think I'm almost there, correct a few tags and the validation went one tag higher level.
Just one more question about the signature changes...
Would you happen to know if the changes I wanna do should be appli

[2016-08-12 13:46] vini-guerrero commented on #113
@ponyesteves Thanks man! I've been analysing the code trying to understand where the implementations should be, that was very helpful, I'm using an online validator from brazil government, I think I'm almost there, correct a few tags and the validation went one tag higher level.
Just one more question about the signature changes...
Would you happen to know if the changes I wanna do should be appli

[2016-08-12 13:48] vini-guerrero commented on #113
@ponyesteves Thanks man! I've been analysing the code trying to understand where the implementations should be, that was very helpful, I'm using an online validator from brazil government, I think I'm almost there, correct a few tags and the validation went one tag higher level.
Just one more question about the signature changes...
Would you happen to know if the changes I wanna do should be appli

[2016-08-13 14:55] ponyesteves commented on #113
@vini-guerrero glad to by helpful

In my particular case I use exc-c14n to sign so I didn't have to implement c14n(http://www.w3.org/TR/2001/REC-xml-c14n-20010315 ) for the signature case. Though I did have to implement it for validating c14n signatures.

But perhaps these approach can help you.. also check issue #24

To add the algorithm to transformation you should  pass it to the function addRe

[2016-08-13 18:12] bjrmatos commented on #113
@ponyesteves @vini-guerrero sorry for not being able to respond your comments, i promise to find the time to work on your issues, maybe we can work together to implement `xml-c14n` 😄

[2016-08-16 23:43] ponyesteves commented on #113
@bjrmatos no problem! Looking forward to give support to c14n. Thougth I must say that the w3c XML documentation is very heavy to read and understand!

[2016-08-20 10:52] tulsirampalavalasa commented on #109
Hi ,

I am also facing the same issue " [TypeError: Not a buffer]" .Can  you please help me out in solving this

Thanks in advance

[2016-09-01 16:28] joeesteves opened #115 "c14n - xlmns"
Hi @yaronn @bjrmatos, I need some help to resolve this problem.
I have to validate a signed xml form Uruguay's goberment (this is important tip, because I can't change the format of the data that they send if it is wrong).
I simplify here the example, but the problem is well represented. The digest value that I'm getting is different to the one they provide and sign.

The xml data they send is thi

[2016-09-02 03:55] danieljoppi commented on #113
ow ...I really need this for Brazilian Electronic Invoice ...

[2016-09-05 14:36] ponyesteves commented on #113
Hi @yaronn @bjrmatos,
          would you consider making a branch to start working on c14n support? I monkey patched the lib and is working for me. But I'm willing to contribute to this support out of the box and official. Sure @vini-guerrero and  @danieljoppi could help also.

[2016-09-05 17:06] danieljoppi commented on #113
@ponyesteves look my PR #116

[2016-09-05 17:43] ponyesteves commented on #113
Hi @danieljoppi I take a quick look to de PR #116. I can see you copy the code of exclusive canonicalization and rename it to c14n (that'e great for a start) but can't distinguish the function modificaciones that implements c14n.  In my recent experience there are at minimum to big differences
1) How c14n handles namespaces hierarchy 2) also have to do with xmlns attribute .

Does de PR #116 have

[2016-09-05 18:08] danieljoppi commented on #113
@ponyesteves then c14n (Canonical XML) specifies a standard serialization of XML that ... and the c14n Exclusive (Exculsive Caninical XML) extends the c14n, but ignores all attributes that were not defined in `inclusiveNamespacesPrefixList` [exclusive-canonicalization.js#L97](https://github.com/yaronn/xml-crypto/blob/master/lib/exclusive-canonicalization.js#L97)

[2016-09-05 18:28] ponyesteves commented on #113
@danieljoppi can you take a look to this issue #115

[2016-09-05 19:00] bjrmatos commented on #113
as far i can tell (when i was reading the W3C C14n docs) there are others differences in respect with namespaces

[2016-09-05 19:20] danieljoppi commented on #113
https://www.w3.org/TR/2002/REC-xml-exc-c14n-20020718/#sec-Specification

[2016-09-05 19:49] ponyesteves commented on #113
So, for the 1 bullet of the doc @danieljoppi shared, its necessary to process the subset with the hole xml doc for context. I've hardcoded that to work for my specific case. But to really give support the code must read all ancestors and check for attributes when using sub set.

I'm having truble understanding bullet 3.

![image](https://cloud.githubusercontent.com/assets/4960589/18256218/bb61d7e0

[2016-09-06 15:25] danieljoppi commented on #113
The **C14N Exclusive** was worked in `xml-crypto` ... this example show us *only* the differences between **C14N** and **C14N Exclusive**.

@ponyesteves you can propose a XML to be tested for the C14N algorithm?

In my case I made a simple XML (**NFe** - *Brazilian Electronic Invoice*) ... and the signature already was tested and approve by the [NFe Validator](https://www.sefaz.rs.gov.br/nfe/NFE-V

[2016-09-07 06:22] bjrmatos commented on #113
looking at the code, i'm still not sure if it is 100% compliant with the spec (will need a carefuly review and more tests cases to be sure) but it is definitely the right start.

@ponyesteves Have you tried the C14N implementation against your case? let me know if it works for you, the @danieljoppi 's comment about `inclusiveNamespacesPrefixList` is correct.

`c14n` and `exc14n` shares a lot and o

[2016-09-07 12:03] ponyesteves commented on #113
I'll give it a try this week and comment the result's.

[2016-09-08 21:38] ponyesteves commented on #113
@danieljoppi @bjrmatos  I tried the implementation and my test are failing in validating Uruguayan gob singed xml. As I explained in #115 with code example . I'm not sure if the Uruguayan implementation of the standard is correct (have my doubts) but unfortunately I must adapt to them and not otherwise.
Nevertheless Daniel's implementation doesn't break anything so I think it' s great to work on i

[2016-09-09 03:47] bjrmatos commented on #113
@ponyesteves is it possible that you can post the entire XML document in #115 ? in my experience it will be very useful.

[2016-09-09 12:50] danieljoppi commented on #115
post you code ... had some documentation online?

[2016-09-09 14:01] ponyesteves commented on #115
[Online docs of Uruguay especification for electronic invoice]
The problems comes because they have a Tag name Referencia as Parent and child (Is a horrible definition). To avoid collition they have to use in the child an addition xmlns..

[code]
(https://www.efactura.dgi.gub.uy/principal/ampliacion_de_contenido/DocumentosDeInteres1?es)

The code I add to get this to work

on getCannon function I

[2016-09-09 14:02] ponyesteves commented on #115
XML COMPLETE

[code]

[2016-09-09 14:04] ponyesteves commented on #113
Sure @bjrmatos, i've just post it on #115

[2016-09-09 17:58] danieljoppi commented on #115
@ponyesteves how you configure `SignedXml`? ... this *renderNs* you chance in **exclusive-canonicalization.js** ?? if yes ... paste that *function*

[2016-09-09 19:41] ponyesteves commented on #115
The thing is like this:
for the documentation **I'm signing** I'm using **exc-c14n** >> using xml-crypto the lib out of the box. and goberment servers validates my signed docs.
But some of the signed xml they send back is still using c14n. For validating those incoming xml I must canonicalice with c14n.

To do that I'm using   I'm using ExclusiveCanonicalization (with some of the modifications I d

[2016-09-13 10:26] tulsirampalavalasa opened #118 "uri #_0 calculated digest is moCQ41at0XjsFFrVASWUSU1TcFc= but the xml is different"
[ 'invalid signature: for uri #_0 calculated digest is moCQ41at0XjsFFrVASWUSU1TcFc= but the xml to validate supplies digest ZxGe79sKWbYVUMCvmOTZl0lWOzc=' ]

[2016-12-06 21:40] tjgragg commented on #118
I'm having this same issue.

[2016-12-08 09:49] emueller-sage commented on #113
I have also needed this canonicalization and have added the method from my code as follows. Essentially I collect the namespaces and then invoke exclusive canonicalization. For placing this into xml-crypto, finding the exclusive canonicalization within the `process` method should be simplified. The implementation below can change `node` by adding some namespace attributes.

[code]

[2017-01-02 18:28] jjalan opened #122 "How to sign a root node"
I know it has been "its coming soon", but can someone please give pointers on how to sign a root node. I can try making the changes.

[2017-01-03 00:41] bjrmatos commented on #122
[code]

[2017-01-13 06:49] #122 closed

[2017-02-20 17:21] omaralqady opened #123 "Crashes upon using a cert/key pair with passphrase, works without passphrase"
I get this error:

`PEM routines:PEM_do_header:bad password read`

when trying to use a key/cert pair that uses a passphrase, but when I use ones without a passphrase, it works fine.

I am working in an environment that has a hard requirement of using a passphrase, so using ones without passphrases doesn't work for me.

Is this a problem with the module, or am I doing something wrong? (missing an

[2017-02-20 18:28] bjrmatos commented on #123
i'm afraid that handling private keys with passphrase is something that is not implemented in `xml-crypto` yet, however this seems something very easy to implement since there are [node.js API that handles this natively](https://nodejs.org/api/crypto.html#crypto_sign_sign_private_key_output_format).

as a workaround you can parse your key and decrypt it and pass the decrypted content to `xml-crypt

[2017-02-21 16:06] omaralqady commented on #123
@bjrmatos Thank you for your answer.

The solution using `forge` worked well for me.

On the other hand, using `node`'s native module wouldn't have worked (according to my understanding of the process) unless I would have manipulated the XML nodes manually, which I'm trying to avoid.

[2017-02-21 21:43] bjrmatos commented on #123
i was just leaving a note that node.js have a special API when dealing with keys with `passphrase`, that API will **let us handle this kind of key naturally in `xml-crypto`**, so we will not need to provide additional steps to a user that have a key with passphrase  (Like the steps i gave to you using `forge`).

it was just a note for myself or other possible contributor, i will keep the issue ope

[2017-02-22 12:12] omaralqady opened #124 "Canonicalization not working for some listed methods"
`http://www.w3.org/TR/2001/REC-xml-c14n-20010315` and `http://www.w3.org/TR/2001/REC-xml-c14n-20010315#WithComments` throw an error that looks like:

[code]

when I set them as the canonicalization algorithms, even though they're listed in the list of supported algorithms.

The exclusive method works fine for me, but not this one.

[2017-02-22 14:57] bjrmatos commented on #124
@omaralqady i recently merged this [PR](https://github.com/yaronn/xml-crypto/pull/116) where `c14n` implementation was done, however is not published in npm yet, there are some little changes that has to be made (about keeping consistency with other implementations) but until that time you can install `xml-crypto` directly from github `npm install yaronn/xml-crypto` to get access to this feature.

[2017-02-23 10:05] omaralqady commented on #124
@bjrmatos Thank you, it does work in that version indeed :+1:

[2017-02-23 17:03] omaralqady opened #125 "Apply multiple canonicalization methods?"
I'm working with a proprietary system that needs the following:

algorithm must be used.

must be used.

Can this method be applied using the current design of `xml-crypto`? If not, can it be extended to do it? I'm willing to work on a PR to allow this if it's doable under the current design.

[2017-02-23 21:06] bjrmatos commented on #125
yes, according to your specifications, you need to use `exc-c14n` as the canonicalization method for the signature.

`exc-c14n` is the default method used, but if you want to change to another you can:

[code]

and for the canonicalization in the digest of the reference you can pass an array of inclusive namespaces to `.addReference`, see this line to know https://github.com/yaronn/xml-crypto/blob

[2017-02-24 12:48] omaralqady commented on #125
@bjrmatos Doesn't `exc-c14n` mean exclusive while the specs I posted refer to inclusive for the main message?

* Also on an unrelated note, I have a couple of other questions that are not particularly issues, is there another way I can communicate with you without opening an issue here so as not add a non-issue to the list? (What I want to do is generate a signature without adding a reference ID t

[2017-02-24 14:25] bjrmatos commented on #125
@omaralqady according to this, you need to use exclusive canonicalization to generate the signature and inclusive canonicalization to generate a digest (hash) of your message. one thing is applying a canonicalization method to your main message (a reference) in order to get a digest and another is applying a canonicalization method to all digest of references to get the final signature.

sorry abo

[2017-02-24 16:09] omaralqady commented on #125
@bjrmatos The document would have to look like this:

[code]

The signature isn't valid for this example, because I have to change a few things within it, I can't share the actual request but this is the format that I need to have.

I generate the `KeyName` using a customized `KeyInfoProvider` as stated in the docs and it works properly.

The problem I have now is that I get an ID like this (as an

[2017-02-24 16:27] bjrmatos commented on #125
you will need to use something like this:

[code]

[2017-02-24 18:05] tngan commented on #108
@yaronn

Here is an update for this issue. I have discovered that there are special character in the xml, which is `\ \ ` and line breaks `\n`. Before I removed them all, in `0.8.2`, the calculated digest is `upUaQyNo8KYfaugAsM9I6e/HYNQ=` which is expected. After I remove line breaks and `\ \ ` with `0.8.2`, the calculated digest is `sZOR3aMpVBn1CoSmP674OQfCcyg=`.

Then I upgrade the package into

[2017-02-27 11:16] omaralqady commented on #125
@bjrmatos Thank you for your help it finally works :) :+1:

Also, I saw you just did a new release to NPM, and I'm assuming the new release includes the algorithms that were only available in the github repo, is that correct?

[2017-02-27 14:18] bjrmatos commented on #125
@omaralqady glad that it works!, yes, new version includes the new changes

[2017-02-27 14:18] #125 closed

[2017-03-03 18:52] bonachela opened #126 "Set URI="#_0" to URI="""
Hi,

I was reading the docs but I could not find a way to set URI to : Reference URI=""

I can't validate the signature and this is the only visible difference.

Is it possible?

Thanks!

[2017-03-03 19:40] bonachela commented on #126
Hi!

I would like to complete my first comment with the errors I got when trying to validate my xml:

func=xmlSecXPathDataExecute:file=xpath.c:line=273:obj=unknown:subj=xmlXPtrEval:error=5:libxml2 library function failed:expr=xpointer(id('_0'))
func=xmlSecXPathDataListExecute:file=xpath.c:line=373:obj=unknown:subj=xmlSecXPathDataExecute:error=1:xmlsec library function failed:
func=xmlSecTransformX

[2017-03-03 21:46] bjrmatos commented on #126
see #122 for an example

[2017-03-03 21:46] #126 closed

[2017-03-24 05:22] an-sush opened #127 "Issue with custom keyInfoProvider"
Hello,

I am using xml-crypto to validate signature. If I have the public key as local file, it works fine with default settings (as shown in example). But when I have to read it from a S3 bucket, I use a custom KeyInfo implementation and it failed:

[code]

[code]

When I run this in my lambda, I get error:

Please help me how to call the SignedXml by reading public cert from S3 (or string conten

[2017-03-24 23:35] bjrmatos commented on #127
hmm, key info providers are expected to be synchronous (a limitation), this means that you can't fetch your key from S3 in the `getKey` method (because `s3.getObject` is asynchronous), to solve your issue try to read/fetch your key before creating your key info provider.

i'm closing this because is not an issue, but feel free to continue the conversation.

[2017-03-24 23:35] #127 closed

[2017-03-29 17:52] betoharres opened #128 "Question: Sign xml using Electron app"
Hello, first of all, great lib, thanks for putting the effort on this ❤️

Considering that I've never used electron and few node libraries, I'd like some insight about if would be possible to sign local xml using your library through an Electron app, do you see that being possible?
I'm developing a react-redux app in the browser and in order to sign the xml I'd have to create a Java app running lo

[2017-03-29 22:26] bjrmatos commented on #128
@betoharres yes! it should be possible to sign xml files inside of an electron application. (since electron is like a node.js runtime by itself and has all node.js APIs available) so i would say that you use case is totally possible 👍 😄

[2017-03-30 19:11] #128 closed

[2017-03-30 19:13] betoharres commented on #128
@bjrmatos Hey, thanks a lot for your response! I appreciated 😄   I'll close this now, good luck with the library! 🎉

[2017-04-11 16:35] betoharres opened #129 "Q: Openssl requirement"
Hey, I was wondering if `openssl` is only required for key(.pem) generation or it's required for the library code? I ask because I'm using forge to load and manage certificates and get the private key and I'd like to know if a windows user, for example, would have to download and install the `openssl` library.
Thanks in advance 😄

[2017-04-12 20:03] bjrmatos commented on #129
@betoharres hi! `openssl` is just a recommendation to work better with .der,.pem files, so you're right, users don't need to donwload or install `openssl` manually 👍

we use the node.js `crypto` API which in fact comes with bundled version of `openssl` installed but this is transparent and users don't need to install it explicitly

[2017-04-12 20:03] #129 closed

[2017-04-12 20:20] betoharres commented on #129
Yeah, just as I expected. Thanks a lot for quick response!

[2017-04-20 15:47] boazjohn opened #130 "Signature verification failing"
Hi,

I'm trying to verify a payload, which works otherwise with the same key in Java (tired this to see if the payload or key is mismatching). But when I try using `xml-crypto`, it's failing.

Payload:

[code]

This is the input to the `verifySignature` method:
[code]

Output:
[code]

Any idea why this is happening?

[2017-05-04 15:56] vjpr opened #131 "fails to install on npm5 - No matching version found for xmldom@=0.1.19"
[code]

[2017-05-04 17:22] vjpr commented on #131
Looks like a regression in npm - tracking here: https://github.com/npm/npm/issues/16524

[2017-05-04 17:22] #131 closed

[2017-05-04 19:12] bjrmatos commented on #131
good job with reporting the issue to npm 👏  🎉 👍

[2017-05-17 14:59] mikevbaker opened #132 "Signature validation calculated digest doesn't match"
Hi all,
I'm working with passport-saml in Amazon Web Service Elastic Beanstalk NodeJS.
I have this setup in config:
[code]

which is used in this strategy:
[code]
This is an excerpt from a samlp:Response that is sent from the IdP to my /sso/acs post handler.

[code]
I traced the operation down into xml-crypto and I found it stuffing this into the validationErrors.
`invalid signature: for uri #Asse

[2017-05-17 17:07] betoharres opened #133 "Remove 2+ line breaks in REC-xml-c14n-20010315 canonicalization"
Hello, I was playing around with the canonicalization algo of `REC-xml-c14n-20010315`, and I notice that it's not removing any excessive line breaks( more than 2+ ), is this intentional or it's missing in the code? I could do a PR if you guys want.
Thanks 🎉

[2017-05-17 20:23] betoharres commented on #133
Sorry, that was probably my fault while coding, I'll close this for now.

[2017-05-17 20:23] #133 closed

[2017-05-18 11:55] #124 closed

[2017-05-25 09:50] vbrajath commented on #14
Hi,
I am using xml-crypto in node.js to create Digital signature, i got this error "invalid signature: for uri  calculated digest is 1lyn8jGYvy7r4WtL5L401yB2rWE= but the xml to validate supplies digest 7Z8sKYj47RNxPcjPxywArQfmEmg=".can any one plz help ?

[2017-05-25 13:58] vbrajath commented on #80
Hi,
I am using xml-crypto in node.js to create Digital signature, i got this error "invalid signature: for uri calculated digest is 1lyn8jGYvy7r4WtL5L401yB2rWE= but the xml to validate supplies digest 7Z8sKYj47RNxPcjPxywArQfmEmg=".can any one plz help ?

[2017-05-31 21:02] chrisgh1 commented on #45
has this changed in recent node versions?  I'm getting the following error which looks like passphrase could be passed in?  But I'm not familiar with how this module works.

crypto.js:283
  var ret = this._handle.sign(toBuf(key), null, passphrase);

I'm on Node version 6.9.1

[2017-06-15 00:12] yaronn opened #134 "Please update to the latest version of xml-crypto"
Last week we have released xml-crypto@0.10.1. It contains a fix for two security vulnerabilities in addition to new guidelines in the "verifying Xml documents" section of the readme with best practices to prevent other attacks from calling libraries . We recommend everyone to upgrade to the new version and apply the new guidelines.

[2017-06-21 20:14] kksharma1618 opened #135 "Enveloped signature transform is stripping internal signature [help wanted]"
Which, as I understand, is the correct behaviour.

We are using xml-crypto (along with express-saml2) for signing saml login response. One of our service provider expects both login response and assertions within it to be signed. One of the successful response that works with them is:

[code]

Note that it uses, envelop transform.
[code]
When I use envelop transform to sign login response, it remo

[2017-07-11 18:09] alphanso opened #136 "Signing root node without childs"
Hi,

I am trying to sign a root node with only attributes and without any child nodes. It keeps failing signature verification but if I add a single space then it works. Is it an issue with library or my code. Please help me debug.

[code]

I actually need to encrypt following xml

[code]

[2017-07-12 21:34] puneetmakkar opened #137 "Signature Verification Failing"
@yaronn @bjrmatos @danieljoppi

Signature verfication fails here:
https://github.com/yaronn/xml-crypto/blob/master/lib/signed-xml.js#L280

**CanonicalizationMethod Algorithm**
http://www.w3.org/TR/2001/REC-xml-c14n-20010315#WithComments

**Public Key:**
[code]

**Signature:**
`aGtyMfcFIc9/Exl/S0tt5l8LeMM8ow3xvQrnSbAhJESWNSQsGYoRYf4y4Ypb7fpDA68boq15CzJPt6aC+LtGDyx5i/QF8M2QIwu5Ts3/mg0hGCjG+1JTfX9L8M

[2017-07-13 14:08] danieljoppi commented on #137
show the error

[2017-07-13 14:32] puneetmakkar commented on #137
@danieljoppi  - It just returns false here https://github.com/yaronn/xml-crypto/blob/master/lib/signed-xml.js#L280

[2017-07-14 01:26] puneetmakkar commented on #137
@danieljoppi

**SAML Response**
<?xml version="1.0"?>
<saml2p:Response xmlns:saml2p="urn:oasis:names:tc:SAML:2.0:protocol" Destination="https://dev-memberportal.lifelock.com/nsl/response" ID="_b038441620b8e47b6c31dbc438f76c46" InResponseTo="_3852c847-a8a9-4c33-9dca-9a984a74f52f" IssueInstant="2017-07-12T19:37:09.091Z" Version="2.0">
  <saml2:Issuer xmlns:saml2="urn:oasis:names:tc:SAML:2.0:assertio

[2017-07-17 06:52] SSANSH opened #138 "InclusiveNamespaces how to include inclusivenamespace"
Hi, How I can generate transform definition like with InclusiveNamespaces.

[code]

I checked the function SignedXml.prototype.createReferences but I don't see the way to include this definition.

      res += "<" + prefix + "Transforms>"
      for (var t in ref.transforms) {
        if (!ref.transforms.hasOwnProperty(t)) continue;

        var trans = ref.transforms[t]
        var transform = thi

[2017-07-17 11:46] misanche commented on #132
I'm getting the same problem, did you solve it?

[2017-07-17 21:28] mikevbaker commented on #132
I switched to express-saml2. It also makes use of xml-crypto but doesn't seem to have the same problem with the signature.

Mike

[2017-07-19 03:25] tngan commented on #132
@mikevbaker Please switch to samlify as soon as possible, the old version is already deprecated and has security issue.

[2017-07-19 16:14] tngan commented on #138
https://github.com/yaronn/xml-crypto/issues/94

@SSANSH checkout this one and you could find out the workaround as well

[2017-07-28 19:20] alphanso commented on #136
I have identified the issue
https://github.com/yaronn/xml-crypto/blob/master/lib/enveloped-signature.js#L9

We are using xpath in above given line. Once we remove signature then xpath reduce <Root></Root> tag to <Root/> which is not canonicalized form which leads to problem in xml signature as show above.

[2017-07-31 15:18] littleski commented on #135
Hello,
https://www.w3.org/TR/xmldsig-core/#sec-EnvelopedSignature
The purpose of EnvelopedSignature transform is to remove the signature. Not sure what result you are expecting.

I use the same lib, but with node-samlp and i had the same issue. Removing this EnvelopedSignature transform did the trick for me.

Regards

Adnan

[2017-08-01 07:40] littleski commented on #84
The way i see it, in
SignedXml.prototype.getCanonXml
There is a :
`var canonXml = node`
which doesn't copy the node but copy the reference. Hence, when it's doing the Canonicalization, it modify the source XML as well.
Replacing it with something like
`var canonXml = node.cloneNode(true); `
will do the trick and preserve the signature of the assertion within the message.

However, in the case of S

[2017-08-10 20:22] paulocheque opened #139 "Suggestion: CDN for a raw JS lib import"
What about convert the node JS files into one single JS file to be easily imported directly in the HTML?

[2017-08-30 14:32] mpbgodinho commented on #47
@giulianoifollow Did you find a way to fix that problem?

[2017-08-30 14:38] mpbgodinho opened #140 "Include <X509Certificate>"
I need to implement signature like this:
`<Signature xmlns="http://www.w3.org/2000/09/xmldsig#">
            <SignedInfo>
                <CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"/>
                <SignatureMethod Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1"/>
                <Reference URI="#NFe35150300822602000124550010009923461099234656">

[2017-09-29 11:28] phra opened #141 "not able to sign messages with rsa256 digest"
hi,

I'm trying to sign my data with http://www.w3.org/2001/04/xmlenc#sha256 as my digest algorithm, but I could not find a way to configure it without updating the source code at https://github.com/yaronn/xml-crypto/blob/master/lib/signed-xml.js#L442 in:
[code]

[2017-09-29 14:21] yaronn commented on #141
Per the documentation for addReference in README:

`addReference(xpath, [transforms], [digestAlgorithm])`

[2017-09-29 19:18] phra commented on #141
@yaronn thanks for that. i also need the ability to encrypt and decrypt messages, are you working on that part?

[2017-09-29 23:14] yaronn commented on #141
I am not planing to work on this in the near future.

[2017-10-04 13:26] ergoithz opened #142 "Custom reference.uri is not honored by SignedXml.prototype.createReferences"
Currently there is no way to customize the reference URI, even if `SignedXml.prototype.addReference` accepts it as argument, because is always overwritten by xpath id attribute.

https://github.com/yaronn/xml-crypto/blob/6e22854b1aeb4e59bd482a185826361a39872704/lib/signed-xml.js#L584

https://github.com/yaronn/xml-crypto/blob/6e22854b1aeb4e59bd482a185826361a39872704/lib/signed-xml.js#L443

[2017-10-05 17:12] #141 closed

[2017-10-05 17:18] phra commented on #125
@omaralqady can you share the actual code to add the keyinfo/keyname elements?

[2017-10-05 17:33] bjrmatos commented on #125
@phra you can take a look [here](https://github.com/yaronn/xml-crypto/issues/47#issuecomment-126144393)

[2017-10-05 21:19] phra commented on #125
@bjrmatos thanks.

[2017-10-06 06:32] planetwebsolution opened #143 "Error: canonicalization algorithm 'http://www.w3.org/TR/2001/REC-xml-c14n-20010315' is not supported"
Hi folks,

Still I am getting this error. I really don't know why it's happening. I tried this solution as well #116 please suggest.

[2017-10-09 11:57] omaralqady commented on #125
@phra I just saw your comment. If the sample above didn't work for you, let me know.

[2017-10-09 20:54] phra commented on #125
everything works. we will release an open source library soon at work based on `xml-crypto`.
for future references, my code looks like this (in the comment the code for debug signature problems):
[code]

[2017-10-10 17:09] markstos opened #144 "Wish: Changelog"
Especially for security and crypto-related modules, it's nice to have a clear Changelog to understand what changed between versions.

http://keepachangelog.com/ is a good reference.

The Github "Releases" feature is an easy way to keep a changelog. You can use `hub release create` to create a release and add some notes for it.

[2017-10-10 17:11] markstos commented on #144
Reading the commit log is generally not a good substitute, and in the most recent release, it appears most changes happened in a commit named simply "fix multiple issues".

[2017-10-23 16:21] phra commented on #130
i've the same problem.. i'm providing this repro code: https://runkit.com/phra/59ee12cbf4d03e00120d1e4a
can someone explain where is the problem? @bjrmatos @yaronn

[2017-10-23 18:08] phra commented on #94
@yaronn can we have this fixed instead of patching it by hand?

[2017-10-24 04:19] yaronn commented on #94
@phra yeah it needs to be fixed but my workload right now only allows me to accept a PR in case someone has time to send one.

[2017-10-24 09:54] phra commented on #94
@yaronn  yesterday i tried to fix it but with no success. if you can check it i've created a repro code: https://runkit.com/phra/59ee12cbf4d03e00120d1e4a

[2017-10-25 22:17] phra opened #145 "signature verification fails on 1 out of 3 messages"
hi,

i have a strange issue with verifying signature with a specific xml message.
i've created a repro code on runkit available here: https://runkit.com/phra/59f0d6670f3020001512de20

as you can see the first two messages get validated correctly while the last one does not. do you have idea of what can be? (i've used the `Array.prototype.pop()` method on the result of the xpath query in order to r

[2017-10-25 23:06] phra commented on #145
i've also tried to update the related xpath query in the enveloped-signature algorithm implementation.

[2017-10-27 19:09] yaronn commented on #94
The repro doesn't have an InclusiveNamespace section, I was under the assumption this is the underlying issue. Maybe someone that used the patch can provide their sample repro / fix. Sorry I'm not more invested on this issue I just don't have the capacity at the moment.

[2017-10-27 21:54] phra commented on #94
@yaronn i've created a related issue here: https://github.com/yaronn/xml-crypto/issues/145 and i've updated the repro code fixing the verification on 2 of 3 messages. the last message doesn't get validated.

[2017-12-13 20:22] cmordue commented on #84
I ran into this and it turns out the lib I was following the old example on the README which was fixed here: https://github.com/yaronn/xml-crypto/pull/105
Once calling loadSignature with the node rather than string, this wasn't an issue for me.

[2017-12-14 11:48] gtkirankumar31 opened #148 "attribute value normalization in Canonicalization Algorithm"
With Reference to https://www.w3.org/TR/xml/#AVNormalize
we need to append a space character (#x20) for a white space character (#x20, #xD, #xA, #x9) to the normalized value. But we are also replacing multiple spaces by single space.
Need a small change in encodeSpecialCharactersInAttribute fn.

Existing code:
`
        .replace(/[\r\n\t ]+/g, ' ')
`
Code change required:

`
        .replace(/[\r\

[2018-01-01 20:44] dovsons commented on #84
I am looking for some help in same type of issue I am facing.
this what example i got as example,
Signature xmlns="http://www.w3.org/2000/09/xmldsig#">

<saml:Issuer>https://app.onelogin.com/saml/metadata/410172</saml:Issuer>

-<ds:Signature xmlns:ds="http://www.w3.org/2000/09/xmldsig#">

-<**ds:SignedInfo**>

<ds:CanonicalizationMethod Algorithm="http://www.w3.org/2001/10/xml-exc-c14n#"/>

<ds:Si

[2018-01-29 20:01] diondavidson commented on #7
I have having the exact same issue as the OP. I can verify signatures from other platforms but not Axis/WSS4J, and I suspect the canonization process, or the default use of InclusiveNamespaces by WSS4J. Any help?
`<ds:CanonicalizationMethod Algorithm="http://www.w3.org/2001/10/xml-exc-c14n#"><ec:InclusiveNamespaces xmlns:ec="http://www.w3.org/2001/10/xml-exc-c14n#" PrefixList="SOAP-ENV"/></ds:Cano

[2018-02-07 15:31] gijsboer opened #149 "Invalid signature - while www.samltool.com does validate it correctly"
Hello,

I'm trying to use the signature validation option, but I can't get it to validate the signature unfortunately. I've tried using samlify and passport-saml, both are using xml-crypto and both give the same answer.

Certificate used to validate it:
[code]

Idp Entity ID: `https://ssodev.huberto.org/FIM/sps/HUBDVSAML20/saml20`
Service provider EntityId: `GatewayWAMService`
SP Attribute consume

[2018-03-07 17:35] tofoli opened #151 "Question: Sign xml using React Native"
I'd like some insight about if would be possible to sign local xml using your library through an React Native app, do you see that being possible?

[2018-03-13 12:21] ashleyblackmore opened #152 "Whitespace in DigestValue"
I'm processing SAMLResponses using saml2-js, and have found some responses failing when sent with a certain characteristic -- a newline before `DigestValue`'s end tag:

[code]

These responses come from Oracle IDCS, and it appears [I am not the first to have seen this problem](https://support.oracle.com/knowledge/Oracle%20Cloud/2351441_1.html). :)
Bypassing saml2 and passing it straight into xml-c

[2018-03-19 21:54] einarjohnson opened #153 "Problems verifying a SAML2 token signature"
I was wondering if you could help me out with a problem I am having with verifying a signature inside a SAML2 token from an Icelandic provider named Audkenni.
I have attached the token unchanged as we receive it. (base64 encoded)
According to the IdentityProvider the certificate inside the SAML token should be verified against their CA chain.
My first task was to export this p7b file to a PEM cert

[2018-03-20 00:17] einarjohnson commented on #153
[testtoken.txt](https://github.com/yaronn/xml-crypto/files/1827391/testtoken.txt)
[Audkenni_Chain.txt](https://github.com/yaronn/xml-crypto/files/1827392/Audkenni_Chain.txt)

[2018-03-20 11:54] einarjohnson commented on #153
I have also tried taking the _X509Certificate_ from the SAML2 token and using that as a FileKeyInfo into the keyinfoProvider. Same error happens, checkSignature fails.

[2018-03-20 15:42] einarjohnson commented on #80
hi. i am having very similar problems myself with verifying tokens from this same identity provider. can anyone help? #153

[2018-03-23 08:55] einarjohnson commented on #153
Also, if I use the XmlDSigJs library the signature from the exact same token is verified without any problems
[code]
Is this an indicator there is a problem/bug in the xml-crypto library?

[2018-03-28 20:14] danielfungca commented on #113
Gents and all,

I have the same problem with ADFS v4. A Third party is sending me a SAML message with http://www.w3.org/TR/2001/REC-xml-c14n-20010315 Canonicalization and ADFS out of the box does not seem to support it. Does anyone here know / have had this problem and how did you fix it do ADFS works with this Canonicalization method.

Thanks in advance.

[2018-05-09 17:23] locnguyen opened #154 "Need to upgrade xmldom which has a proper license"
This library is using `xmldom@0.1.19` which is getting flagged by security scans for missing a license. `xmldom@0.1.27` does have a dual license though.

[2018-06-06 07:53] Hinaser commented on #113
Hi @danielfungca

I have a similar issue and I am getting closer to the solution.
I read specification of http://www.w3.org/TR/2001/REC-xml-c14n-20010315 carefully and found that xml-crypto needs more lines to be compat with this non-exclusive c14n method.

I'll send PR for this issue soon.

[2018-06-07 09:36] Hinaser commented on #153
Hi @einarjohnson
I recently found out that xml-crypto has issues in processing 'non-exclusive c14n' such as:
http://www.w3.org/TR/2001/REC-xml-c14n-20010315

The above non-exclusive canonicalization(xml normalization) alters original xml before signing but xml-crypto needs more lines to handle it.

I will send a PR soon.

[2018-06-07 09:41] einarjohnson commented on #153
that's brilliant news, would love to be able to use the xml-crypto lib to solve my problem instead of the XmlDSigJs hack I am resorting to now.

[2018-06-08 01:54] Hinaser commented on #153
@einarjohnson You are lucky man! I just confirmed that your SAML restored from testtoken.xml can be verified successfully!
Please wait until I submit PR.

[2018-06-08 16:54] Hinaser commented on #153
In case you want to try my PR before being merged, run the below command to install my one.
[code]

[xml-crypto-trying.zip](https://github.com/yaronn/xml-crypto/files/2085280/xml-crypto-trying.zip)

You can try demo by unzip the above file and execute command as below:
[code]

You can look into `main.js` if you want to know what it does.

[2018-06-08 17:57] Hinaser commented on #113
In case you want to try my PR before being merged, run the below command to install my one.
[code]

[xml-crypto-trying.zip](https://github.com/yaronn/xml-crypto/files/2085280/xml-crypto-trying.zip)

You can try demo by unzip the above file and execute command as below:
[code]

You can look into `main.js` if you want to know what it does.

[2018-06-11 04:27] Hinaser commented on #137
I sent PR which fixed non-exclisive c14n issue.
I believe my PR resolve your issue.
#157

[2018-06-11 17:16] Hinaser opened #158 "If you failed verifying XML signature, read this"
# Summary
At the latest commit(6e22854b1aeb4e59bd482a185826361a39872704), there is a known bug for handling non-exclusive canonicalization.

If your failing XML contains canonicalization method like these
- http://www.w3.org/TR/2001/REC-xml-c14n-20010315
- http://www.w3.org/TR/2001/REC-xml-c14n-20010315#WithComments

then, you have a chance you can verify signature using [patched version of xml-cr

[2018-06-19 01:13] GreenGremlin commented on #135
I too am wondering about this. If you take a look at onelogin's example [SAML Response with Signed Message & Assertion](https://www.samltool.com/generic_sso_res.php) (you'll have to scroll to it), it has a signature for both `samlp:Response` and `saml:Assertion`. They both use enveloped-signature transform. From what I can tell, it is currently impossible to create this format with xml-crypto. Is

[2018-06-19 20:31] GreenGremlin commented on #135
Reading over the specification for Enveloped Signature Transform, it says "An enveloped signature transform T removes the whole Signature element containing T from the digest calculation of the Reference element containing T." As I read this, the only signature elements that should be removed by the transform are signature elements that contain the transform. So given the example kksharma1618 gave

[2018-06-20 08:21] GreenGremlin commented on #135
The [xmlsec implementation of Enveloped Transform](https://github.com/lsh123/xmlsec/blob/master/src/enveloped.c) seems to agree with my interpretation of the spec.

[2018-06-20 08:27] GreenGremlin commented on #135
@kksharma1618 you should remove the [help wanted] tag from this issue, since it is an actual bug in the way the enveloped signature transform is implemented in xml-crypto.

[2018-06-29 08:37] VincentNewkirk commented on #158
I'm confused about this. The commit that caused this bug was created last year. This issue was opened just a couple weeks ago.

I've recently been having trouble verifying xml signature about and came across this, but I'm wondering if this is actually the cause of my issue.

[2018-07-02 01:57] VincentNewkirk commented on #158
Let me clarify my question.
Did this issue begin happening when this issue was created? Or has this issue been happening since last year when the commit was made?

[2018-07-02 04:00] Hinaser commented on #158
Hi @VincentNewkirk
I just started to use this library `xml-crypto` few weeks ago, so I have no idea whether this issue did not present before last year.

It is possible that your issue is in XML signature itself, not the commit created last year.
It is possible that signer changed signing/c14n algorithm last year.

Either way, I cannot say where the root cause of your issue stands.

[2018-08-22 07:52] LoneRifle commented on #158
fwiw, the team at [Asana](https://github.com/Asana/xml-crypto) have forked this library and have applied @Hinaser 's changes along with more fixes for canonicalization.

[2018-08-22 08:34] LoneRifle commented on #135
I believe the offending commit is 212200b - the xpath will match _all_ signature nodes that are descendents from the current node on down, not just the immediate children signatures. This behaviour is probably not what the author intended, given test and commit comments.

This should be a straightforward one-character deletion. I'll file a PR against Asana's fork of this library, and try to engage

[2018-09-04 18:36] Caiolima0506 commented on #143
Please, I need a solution for this.

[2018-09-07 09:50] QAnders opened #162 "How do I include Root and Intermediate certs?"
First off, thanks so much for your efforts! Much appreciated! :)

I get a `X509_verify_cert` error trying to verify the signature. The error further states `err=20; msg=unable to get local issuer certificate` so it is because the signature lacks the Root and Intermediate information.

How can I get the signature to include the Root/Intermediate certs?

[2018-09-10 04:28] #113 closed

[2018-09-10 04:28] #135 closed

[2018-09-10 04:28] #153 closed

[2018-09-10 04:28] #158 closed

[2018-09-10 04:40] LoneRifle commented on #68
Fixed in #116

[2018-09-10 04:40] #68 closed

[2018-09-10 04:42] LoneRifle commented on #112
Fixed in #116

[2018-09-10 04:42] #112 closed

[2018-09-10 04:42] LoneRifle commented on #102
Fixed in #116

[2018-09-10 04:42] #102 closed

[2018-09-10 04:54] LoneRifle commented on #154
Fixed by #155

[2018-09-10 04:54] #154 closed

[2018-09-10 06:48] #152 closed

[2018-10-20 07:53] LoneRifle commented on #137
This has been merged as part of #161 and released as part of the 1.x series. As Hinaser says, this should be fixed by now. If it isn't, please re-open.

[2018-10-20 07:53] #137 closed

[2018-11-09 05:45] LoneRifle commented on #144
This is now generally adhered to.

[2018-11-09 05:45] #144 closed

[2018-11-14 14:55] ruiaraujo1 opened #164 "Invalid Signature when using 'http://www.w3.org/TR/2001/REC-xml-c14n-20010315' Canonicalization Algorithm"
Hello,

I'm using this library to sign a SAML Request, but I'm having some issues with the signature when using **http://www.w3.org/TR/2001/REC-xml-c14n-20010315** as Canonicalization Algorithm.

The code I'm using is:

[code]

Can you please enlight me on what I might be doing wrong?

Thanks,
Rui

[2018-11-14 20:51] ColinLMacLeod1 commented on #149
I have the same issue using SOOCirle as my IDP.  When I check the request with https://www.samltool.com/validate_response.php is says it is valid

[2018-11-15 07:54] gijsboer commented on #149
should have updated this ticket, but after I enabled SAML encryption in passport-saml, I could correctly validate it. And using the tool xmlsec, I was able to see the actual canonicalized XML, digest, and everything else that I needed to see what the difference was (there is, the canonicalized XML is different).

[2018-11-15 14:15] ColinLMacLeod1 commented on #149
@gijsboer , did you find a fix?

[2018-11-15 14:47] ColinLMacLeod1 commented on #149
Thanks for the response! Do you know how enabling SAML encryption in passport-saml effected the implementation of xml-crypto? I'm just using xml-crypto. Were there additional transforms or options?

[2018-11-19 07:38] gijsboer commented on #149
If I remember correctly, `<sometag></sometag>` would get translated as `<sometag/>` or the other way around. Xmlsec1 produces the right XML, so you can compare the output of xml-crypto against that and will show you the reason why it fails.

[2018-11-21 21:37] Wi150nZ opened #165 "duplicate reference in signature"
I'm getting a weird bug where the reference tag is duplicated whenever my frontend calls the backend to generate a SAML assertion. The duplication doesn't happen when the endpoint is called from Postman. I tried fiddling with my function that handles the assertion and think that it's coming from the addReference method. Can anyone point me in the right direction on how to resolve this? Thanks.
[co

[2018-12-12 07:04] LoneRifle commented on #164
Could you try doing this with version 1.0.1 of xml-crypto and see if that works?

[2018-12-17 17:14] ruiaraujo1 commented on #164
@LoneRifle The error persists on version 1.0.1.

The server i'm connecting to tells me the signature is invalid.

[2018-12-18 04:10] LoneRifle commented on #164
Can you provide the xml that you were trying to sign and the full error message that you got in return? any information relating to what the server actually is, as well as any stack traces, the exact error text etc, would be useful

[2018-12-20 21:00] Wi150nZ commented on #165
UPDATE: turns out that the duplicated reference tags do not affect the SAML response whenever I send it out, but it occasionally duplicates too much to a point that it returns a 400 error (for being too long)

[2018-12-21 02:46] LoneRifle commented on #165
Thanks for the details. Could you clarify the circumstances that lead to that (eg, are you calling `signAssertion` multiple times, or is a single call of that function resulting in multiple references)? Can you also produce the payload that shows the duplicated reference tag, and just for clarity, what you expect instead?

[2018-12-30 14:10] LoneRifle commented on #165
thanks for this. it is going to take me a while to try to reproduce this given time issues on my end, but I'll try to look into it. in the meantime, let me know if you have a small self-contained test case that reproduces this issue so that it's easier for me to debug.

[2018-12-31 08:10] LoneRifle commented on #165
Inspection of section 5.4 of the core SAML spec suggests that there should only be one `<Reference>` element present. As noted earlier, it is likely that the xpath that you have specified returns more than one node, and xml-crypto is (incorrectly) generating a corresponding reference for each of them.

I am currently in favour of throwing an error if the xpath query returns more than one element,

[2018-12-31 13:57] Wi150nZ commented on #165
That sounds good! It kind of explains why the reference tag is returned multiple times, but it doesn't make any sense that the xpath in this case is finding multiple saml:Assertion tags as there is only one. Here is the syntax that I am currently using for the xpath..
[code]

[2018-12-31 17:41] Wi150nZ commented on #165
here's a sample payload that needs to be signed:
[code]

[2019-01-01 02:05] LoneRifle commented on #165
Thanks for the information. Given the duplicate URI attributes in the `<Reference>` elements, there is likely a problem with xpath.js, on which this library is dependent on. I could de-dupe the elements but will have to key on something sane; I'm not sure if xpath-and-id will suffice since xpaths can be wildcard and the identifiers may not be sufficiently unique.

I could also switch from xpath.js

[2019-01-01 02:33] Wi150nZ commented on #165
Converting to the xpath library would be a good idea. For the meantime, I can sanbox test the new xpath library with my sample payload. Thanks for the help and happy New Year! 🎉

[2019-01-12 08:09] LoneRifle commented on #164
I've recently released version 1.1.1 of the library that appears to address a similar problem. Can you try that library and see what happens?

[2019-01-12 13:50] ruiaraujo1 commented on #164
Hello @LoneRifle ,

Sorry for delay on the response.

I've updated the lib to the 1.1.1 version but the problem still persists.

Please, find enclosed the SAMLRequest I'm sending and SAMLResponse I'm getting.

Thanks for all your help.

[Error_SAMLRequest.txt](https://github.com/yaronn/xml-crypto/files/2752054/Error_SAMLRequest.txt)
[Error_SAMLResponse.txt](https://github.com/yaronn/xml-crypto/fil

[2019-01-13 00:02] LoneRifle commented on #164
I've validated the SAML request against https://www.samltool.com/validate_authn_req.php and it appears that the request is actually valid. There are a couple of things we can do here:

if you are using passport-saml, #149 suggests that there may be an additional option you have to turn on in order for canonicalization to work properly. See if that helps.

if the request is being sent to https://pr

[2019-01-13 02:13] LoneRifle commented on #164
Also, could you perhaps look through the releases page at https://github.com/yaronn/xml-crypto/releases and see if there are any fixes or patches that you need? I can port those over to 0.8.x and release them. Otherwise just use 0.8.5 =)

[2019-01-13 18:33] ruiaraujo1 commented on #164
I'm not using passport-saml, I'm sending the request directly.

Unfortunately I cannot know what the IdP I'm trying to authenticate is using.

In the next days, I'll test the releases you mentioned and get back to you.

[2019-01-15 01:45] dfloresgonz opened #166 "install error"
When I run npm install xml-crypto I get:
`npm ERR! Unexpected token < in JSON at position 97197`

[2019-01-15 02:14] dfloresgonz commented on #166
I had to remove my package-lock.json sorry

[2019-01-15 05:37] #166 closed

[2019-01-15 09:01] ruiaraujo1 commented on #164
Yes, i've tried with the version 0.10.1 and the problem persists.

It would be great if you could solve the problem, but in the meantime I've surpassed the issue using a different canonicalization algorithm. I've just identified the issue because the "http://www.w3.org/TR/2001/REC-xml-c14n-20010315" was the recommend algorithm for the IdP I'm using, although they support anothers.

Thanks for your

[2019-01-15 10:35] huineng opened #167 "Invalid signature after passport-saml upgraded xml-crypto to ^1.0.2: but solved"
I was using passport-saml since a long time and all was working fine until they upgraded crypto-xml to ^1.0.2. (from xml-crypto@0.10.1)

After 2 days banging my head on this i solved it, though i like to know if the changes from xml-crypto@0.10.1

it's all about the rsaml response attributes (examples below taken from various copies)

attributes on the incoming saml
[code]

using crypto-xml 0.10.1

[2019-01-18 19:34] tonitim13 opened #168 "Reference to a namespace"
Hi, I have a doubt. How can I reference the <ext: ExtensionContent> tag with the xpath?

`<?xml version="1.0"?>
<Invoice xmlns="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
         xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
         xmlns

[2019-01-24 01:40] LoneRifle commented on #167
Thanks for raising this. This is likely caused by #163, which would add attributes to the root node of a document for non-exclusive canonicalization in compliance with the SAML spec. This was shortly released as 1.0.2.

@huineng - could you try using 1.0.1 of xml-crypto and see if that works for you? I just want to confirm if #163 is indeed the cause. Can I also confirm that you are saying that ch

[2019-01-28 05:13] christiaanwesterbeek commented on #167
I looked into whether applying the proposed diff would help in my [case](https://github.com/bergie/passport-saml/issues/324#issuecomment-457821951).

https://github.com/yaronn/xml-crypto/blob/v1.1.1/lib/signed-xml.js#L379-L381

^^^ Here a `ref` object is introduced that isn't defined earlier.

https://github.com/yaronn/xml-crypto/blob/v1.1.1/lib/signed-xml.js#L460-L463

^^^ Here it seems that the

[2019-01-28 08:40] LoneRifle commented on #167
Could any of you try 1.0.1 please?

[2019-01-28 11:56] LoneRifle commented on #167
1.1.2 published, please test this

[2019-01-28 12:07] christiaanwesterbeek commented on #167
I justed tested 1.1.2 and it solved my case.

[2019-01-28 14:16] phof commented on #167
1.1.2 also solves the issue for me

[2019-01-29 10:46] LoneRifle commented on #164
Hello, I recently released 1.1.2 of xml-crypto - would you be able to test this with http://www.w3.org/TR/2001/REC-xml-c14n-20010315 again and see what happens?

[2019-01-29 15:49] ruiaraujo1 commented on #164
Hello @LoneRifle,

Thanks for your attention but the problem still persists with this version. The IdP still returns an "Invalid Signature" error.

[2019-01-30 00:02] dfloresgonz commented on #168
Hello!
This might help you:
`sig.computeSignature(xml, { location: { reference: "//*[local-name(.)='ExtensionContent']", action: "prepend" }, prefix: 'ds', attrs: {Id: 'SignatureSP'} });`

Compatriota también estas implementando F.E. en nodejs? podemos ayudarnos!

[2019-01-30 00:09] tonitim13 commented on #168
Hi Diego. After trying some variants I found the solution. It's exactly as you say.
En efecto estoy haciendo una version de FE en node.js. Como podemos hablar mas?

[2019-01-30 00:10] dfloresgonz commented on #168
por hangouts? dfloresgonz@gmail.com por alli compartimos num_celular

[2019-01-30 14:03] sourabhlodha opened #169 "'invalid signature: for uri calculated digest is feVHY81U/0kFf7k/9TlIBcJFcyU= but the xml to validate supplies digest LM32hTRe1rIxDWfwEHXfD5hMT9c=' ]"
Hi Team,

I am using java to sign the xml and verify in node but It give me invalid signature. For Reference Please find below the xml file

[ 'invalid signature: for uri  calculated digest is feVHY81U/0kFf7k/9TlIBcJFcyU= but the xml to validate supplies digest LM32hTRe1rIxDWfwEHXfD5hMT9c=' ]

[code]

Signed XML
[code]
Java Code

Using xml-sec jar file

Node js
used xml-crypto

Not able to find th

[2019-02-02 18:03] r03 opened #170 "Custom KeyInfo, avoid adding empty/unneeded namespaces"
I'm trying to create a custom KeyInfo. This mostly works with something like this:

[code]

This is the result:

[code]

The problem is that the prefix wsu and wsse is added here.
This is not needed because the namespaces are already defined outside the signature.

Is there a way to prevent adding these namespaces?

I guess this happens because the signature is parsed as a separate document?
`var

[2019-02-02 18:14] r03 commented on #170
I could create a PR, but not sure about the best method. Maybe `getKeyInfo` shoud be done inside `createSignature` so that I can use `dummySignatureWrapper` with some extra namespaces defined in options?

[2019-02-02 20:44] r03 commented on #170
A `dummySignatureWrapper` doesn't work. The namespace is always added. Not sure if there is a solution for this.

[2019-02-07 01:23] LoneRifle commented on #170
There is a bigger reason to this - namespace propagation in xmldom does appear to work correctly, see examples of this in jindw/xmldom#247. I would suggest following up there in addition to the PR you have submitted, but it seems that the package is no longer actively maintained, and I already have too much on my hands tending to this package.

[2019-02-10 08:16] #72 closed

[2019-02-10 08:28] LoneRifle commented on #83
Closing this for now. The commits cited in this issue have either been implemented independently or merged through other means (as is the case of #172)

[2019-02-10 08:28] #83 closed

[2019-02-11 05:08] fcorneli commented on #169
Problem here is that the EnvelopedSignature is not correct. It removes the first direct child signature of the document, while it should remove the signatures in which the transformation itself is defined (hence enveloped signature). Within the implementation, EnvelopedSignature should have notion of its own location within the document.

[2019-02-11 05:15] LoneRifle commented on #169
Thanks for spotting the problem - would you be happy to submit a PR for this? Sorry for the trouble..

[2019-02-11 06:06] fcorneli commented on #169
https://github.com/yaronn/xml-crypto/pull/174

[2019-02-11 06:16] LoneRifle commented on #169
Published as 1.1.4 - @sourabhlodha could you please give this a try?

[2019-02-11 06:17] LoneRifle commented on #164
I've just noticed that you were using the enveloped-signature transform, which had a bug introduced by me and which was only resolved in #174 (as 1.1.4). Would you be happy to try canonicalization again with this release?

[2019-02-13 21:51] dfloresgonz commented on #25
how did you solve it? SignedXml.prototype.getCanonXml changes the order of my attributes

[2019-02-20 03:00] Wi150nZ commented on #140
You can supply the X509 cert by providing the SignedXml object the key provider with the X509 defined like so:
[code]

[2019-02-25 01:38] #170 closed

[2019-02-25 16:50] Thoro opened #175 "If first reference matches a special case, other references are not validated"
Please see the following return:

https://github.com/yaronn/xml-crypto/blob/4d72940b0f0ada3a87468265b34768e8f77fd737/lib/signed-xml.js#L501

should not be there and should be replaced by a continue;

[2019-03-07 10:30] ryzzan opened #176 "Adding xmlns where i don't want to"
I'm creating an xml string inside a loop, and over each xml created inside of it I'm supposed to make a signature.
Its elements (inside the loop) has a prefix (ns4), but this prefix xmlns is described outside the loop.
xml-crypto forces the xmlns (to ns4 prefix) everytime the element is created inside the loop.
How do I prevent it?

[2019-03-07 23:30] LoneRifle commented on #176
Possible duplicate of #170 . Could you read PR #171 and see if the new `existingPrefixes` option in `computeSignature(xml, [options])` works for you?

[2019-03-08 12:17] ryzzan commented on #176
I used existingPrefixes before coming here, thought it would solve it. But the xmlns doesn't go away...
Here is the way I'm doing it:
`const SignedXml = require('xml-crypto').SignedXml;

class XmlSignatureController {
    constructor() {
     }

    addSignatureToXml (xml, certificate, tagBeforeSignature) {
        return new Promise ((resolve, reject) => {
            try {
                let x5

[2019-03-09 00:31] LoneRifle commented on #176
Can you reproduce your package.json and package-lock.json so that I can have a look? Only version 1.2.0 onwards should have support for `existingPrefixes`

[2019-03-09 15:34] sourabhlodha commented on #169
@LoneRifle  I already changed in node module.Thanks for help.

[2019-03-10 02:04] #169 closed

[2019-03-11 12:00] ryzzan commented on #176
I know that. I am using 1.2.. here it goes package.json

`{
  "name": "nfse-api",
  "version": "1.0.0",
  "description": "",
  "main": "server.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "Ryzzan Salman",
  "license": "ISC",
  "dependencies": {
    "@fidm/x509": "^1.2.0",
    "body-parser": "^1.18.3",
    "cors": "^2.8.5",
    "express": "^4.16.4",

[2019-03-12 01:23] LoneRifle commented on #176
If you leave an example message for me to try it out against your code snippet, i might have some to troubleshoot this when I have time.

[2019-03-18 14:39] ryzzan commented on #176
Trying to better illustrate it...
The xml I'm using crypto over is this one:
<ns4:Rps>
    <ns4:InfRps Id="123">
    </ns4:InfRps>
</ns4:Rps>

The deal is I don't want crypto to add a namespace to it, but it is always returning:
<ns4:Rps xmlns:ns4="">
    <ns4:InfRps Id="123">
    </ns4:InfRps>
</ns4:Rps>

It is being nested inside this:
<ns3:EnviarLoteRpsEnvio xmlns:ns3="http://www.ginfes.com.br/

[2019-03-20 21:03] feliposz commented on #164
Hi there,

I guess I'm experiencing a similar problem.

Here is the code I'm using based on the [example](https://github.com/yaronn/xml-crypto/tree/master/example) provided (I'm also using certificates from the example):

[code]

The signing/validation works fine for the default algorithms but the validation fails when using `REC-xml-c14n-20010315`.

Result is:

[code]

I'm new to XML Signature an

[2019-03-21 12:13] bazzadp commented on #167
@huineng, @christiaanwesterbeek, @phof I'm proposing a similar change in https://github.com/yaronn/xml-crypto/pull/179 and want to ensure we don't reintroduce this issue that caused you pain.

Would any of you be able to test this change to confirm this? Basically only the signed-xml.js has changed from master so you should be able to download that (https://github.com/yaronn/xml-crypto/blob/679d8b

[2019-03-21 15:37] bazzadp commented on #167
Actually I've refactored the code slightly so you need both these files now:

1. signed-xml.js: https://github.com/yaronn/xml-crypto/blob/08e4eff3d5a2e61c93d62f46faa80038bb6f23c2/lib/signed-xml.js
2. exclusive-canonicalization.js: https://github.com/yaronn/xml-crypto/blob/08e4eff3d5a2e61c93d62f46faa80038bb6f23c2/lib/exclusive-canonicalization.js

[2019-03-21 18:34] JeanPaulCE opened #180 "addreference err"
I need to sign an xml with a p12 and I managed to remove the pem but at the time of signing with the following code:
`	var sig = new SignedXml()`
`	sig.addReference("//*[local-name(.)='library']") `
`	sig.signingKey = pem("./key.p12","pasword");return pem`
`	sig.computeSignature(read("./fax.xml"));//read return the xml`
`	fs.writeFileSync("signed.xml", sig.getSignedXml())`
I get this:
 ` throw new

[2019-03-23 09:30] #92 closed

[2019-03-23 09:30] #94 closed

[2019-03-23 09:30] #145 closed

[2019-03-27 10:45] christiaanwesterbeek commented on #167
@bazzadp My test ran just fine with the files `signed-xml.js` and `exclusive-canonicalization.js` you mentioned. I also see they're already part of release [1.3.0](https://github.com/yaronn/xml-crypto/releases/tag/v1.3.0).

Maybe to conclude I ran my tests against all releases of xml-crypto. Here's my outcome.

v1.3.0 - OK
v1.2.0 - OK
v1.1.4 - OK
v1.1.3 - OK
v1.1.2 - OK
v1.1.1 - NOT OK
v1.1.0 - NO

[2019-03-27 13:09] bazzadp commented on #167
Thanks @christiaanwesterbeek for the comprehensive tests! That all sounds great.

@huineng  if you're happy too can you close this as you originally raised this?

[2019-04-01 14:07] giryco opened #182 "Avoid id in signature"
Based in your main example:

`var SignedXml = require('xml-crypto').SignedXml
	  , fs = require('fs')

	var xml = "<library>" +
	            "<book>" +
	              "<name>Harry Potter</name>" +
	            "</book>" +
	          "</library>"

	var sig = new SignedXml()
	sig.addReference("//*[local-name(.)='book']")
	sig.signingKey = fs.readFileSync("client.pem")
	sig.computeSignature(xml)
	fs.

[2019-04-01 14:33] #182 closed

[2019-04-01 15:04] giryco commented on #180
Can you please show the xml you are trying to sign?

[2019-04-19 01:41] kamilml commented on #168
@tonitim13 @dfloresgonz compatriotas estoy atorado a ver si a uds les ha pasado
firmo mi xml y cuando lo envío a la SUNAT me responde esto:

[code]

en mi xml firmado hay algunas cosas que son diferentes a lo que deberían, por ejemplo en tag
[code]
debería ser `<ds:Reference URI="">`

Hay otras diferencias (comparo con un comprobante que sí pasa la validación) como el `ds:X509Certificate` que está

[2019-04-19 06:22] kamilml commented on #176
Same problem here.

I have
[code]
and I want
[code]

I am trying `existingPrefixes: { 'ds': 'http://www.w3.org/2000/09/xmldsig#' }` but it does not works

Any idea?

[2019-04-19 06:23] kamilml commented on #176
@LoneRifle @ryzzan I have the same problem here.

I have
[code]
and I want
[code]

I am trying `existingPrefixes: { 'ds': 'http://www.w3.org/2000/09/xmldsig#' }` but it does not works

Any idea?

[2019-04-20 14:52] dfloresgonz commented on #168
@kamilml Puedes enviar tu xml que es rechazado?

[2019-04-23 08:25] acporras commented on #168
Hola tengo el mismo problema, al generar mi documento se realiza el firmado pero la respuesta es: El documento electrónico ingresado ha sido alterado - Detalle: Incorrect reference digest value

Este es mi documento XML:

<?xml version='1.0' encoding='UTF-8'?>
<Invoice xmlns="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggre

[2019-04-25 13:41] dfloresgonz commented on #168
@acporras Prueba esto para hacer tu firmado:

localName = 'Invoice';
pin_certif = 'clave de tu certificado';
ruta_certif = 'ruta donde esta tu certificado';
rutaXML = 'ruta donde esta tu xml';
`function signXML(rutaXML, ruta_certif, pin_certif, localName) {
	return new Promise( async (resolve, reject) => {
		try {
			let SignedXml = require('xml-crypto').SignedXml;
			let DOMParser = require('xmld

[2019-04-26 01:12] LoneRifle commented on #167
I'll close this for now.. if this is still a problem we can just re-open the issue

[2019-04-26 01:12] #167 closed

[2019-04-26 01:15] #164 closed

[2019-04-26 07:12] acporras commented on #168
hola @dfloresgonz gracias por tu respuesta, reutilice la función que me has brindado y a eso después de la siguiente linea:

`let hash_cpe = doc.getElementsByTagName('ds:DigestValue')[0].firstChild.data;`

Añadí el siguiente código solo para validar mi firma:

`var Signature = doc.getElementsByTagName('ds:Signature')[0]
			sig.loadSignature(xmlserializer.serializeToString(Signature));
			var res =

[2019-04-27 23:59] dfloresgonz commented on #168
Ok usa esto KeyInfo

[code]

[2019-05-10 16:40] toallin92 opened #184 "Add xmlns:xsi xsi:noNamespaceSchemaLocation"
Hello, I have a problem when signing the following XML:

[code]

Here's my code:

[code]
The problem occurs when I add the following labels to <facturaElectronicaEntidadFinanciera>:

xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="facturaElectronicaEntidadFinanciera.xsd"

any solution?

[2019-05-15 19:57] joedjc opened #185 "Signature always placed at the end of xml despite of 'location' and 'reference'"
Hi,

I've been having trouble signing saml requests because the Signature needs to be in a particular location in the xml (not at the end, as is the default).

Whenever I try to add it in a specific location, it seems to always be added at the end. I find this is true with the example: if I try to insert the signature after the 'name' element instead of 'book' it still inserts after 'book':

[code

[2019-05-15 20:48] joedjc commented on #185
My mistake...typo in the word 'location'!

[2019-05-15 20:48] #185 closed

[2019-05-20 18:37] joedjc commented on #122
Thank you. Would be great if this was documented

[2019-05-22 14:59] james-gardner commented on #132
What if all you want to do is verify a signature?

[2019-06-02 03:48] git-nikhilbhardwaj opened #186 "Error: error:0909006C:PEM routines:get_name:no start line"
Error: error:0909006C:PEM routines:get_name:no start line
    at Sign.sign (internal/crypto/sig.js:80:26)
    at RSASHA1.getSignature (e:\nodejs-projects\hello-worlds\node_modules\xml-crypto\lib\signed-xml.js:91:22)
    at SignedXml.calculateSignatureValue (e:\nodejs-projects\hello-worlds\node_modules\xml-crypto\lib\signed-xml.js:414:32)
    at SignedXml.computeSignature (e:\nodejs-projects\hello-

[2019-06-06 12:10] RogerMito commented on #47
The same problem here... :(

[2019-06-20 08:18] ibiris opened #187 "Large xml file - Maximum call stack size exceeded or JavaScript heap out of memory"
I am trying to sign a rather large XML file which contains about 90000 IoT measurement elements (with sub elements including the measurement, metadata and timestamps) - this is a file of about 2 million lines. xml-crypto seems to sign XML files of up to 2500 elements but after that it starts complaining that

[code]
Trying with the full 90000 elements XML it fails due to javascript heap out of mem

[2019-06-25 15:02] BinniZenobioCordovaLeandro commented on #109
### **Hi have this error**
`TypeError: Cannot read property 'length' of undefined
    at Object.findChilds (C:\xampp\htdocs\soap-server\node_modules\xml-crypto\lib\utils.js:23:39)
    at ExclusiveCanonicalizationWithComments.ExclusiveCanonicalization.process (C:\xampp\htdocs\soap-server\node_modules\xml-crypto\lib\exclusive-canonicalization.js:208:40)
    at SignedXml.getCanonXml (C:\xampp\htdocs\

[2019-06-25 15:04] BinniZenobioCordovaLeandro opened #188 "### **Hi have the errror `Cannot read property 'length' of undefined` using xml-crypto when `var res = sig.checkSignature(xml);`**"
### **Hi have this error**
`TypeError: Cannot read property 'length' of undefined
    at Object.findChilds (C:\xampp\htdocs\soap-server\node_modules\xml-crypto\lib\utils.js:23:39)
    at ExclusiveCanonicalizationWithComments.ExclusiveCanonicalization.process (C:\xampp\htdocs\soap-server\node_modules\xml-crypto\lib\exclusive-canonicalization.js:208:40)
    at SignedXml.getCanonXml (C:\xampp\htdocs\

[2019-06-25 23:32] crabey opened #189 "Documentation for adding InclusiveNamespaces and PrefixList to CanonicalizationMethod and Transforms"
Hello

I’m having trouble getting InclusiveNamespaces to work like intended. It would be great to have an example in the library documentation that shows how to achieve this.

I want my XML SignedInfo part to look like this:
[code]

This is what I’m currently getting:
[code]

The difference between the two is the missing InclusiveNamespaces children, with PrefixList and ec namespaces.

How can I p

[2019-07-03 06:46] ibiris opened #190 "defusedxml.lxml is deprecated"
https://pypi.org/project/defusedxml/#defusedxml-lxml mentions that defusedxml.lxml (which is a dependency for signxml) is deprecated and will be removed in a future release. Are there plans / development in progress to replace it in signxml?

[2019-07-03 06:52] #190 closed

[2019-07-03 06:52] ibiris commented on #190
Major oops in logging this issue, wrong tab in the browser.

[2019-07-17 09:53] holmmikael opened #191 "Invalid signature in SOAP envelope"
Hello,

I'm consuming a SOAP client with https://github.com/vpulim/node-soap module which is using `xml-crypto` to create digitally signed SOAP requests. Server won't accept my requests as there are some errors in the signature.

[code]

The problem is that there are two references instead of one and `wsse:SecurityTokenReference xmlns:wsse=""` is having an empty namespace.

`xml-crypto` is used in

[2019-07-18 09:14] LoneRifle commented on #191
https://github.com/vpulim/node-soap/blob/70c4f34b6370ffc59e7d4fe88d18d6312ff0bedc/src/security/WSSecurityCert.ts#L120
Existing prefixes should be supplied to `computeSignature(payload, [options])` as `options.existingPrefixes`. I'll file a PR to them in due course unless you beat me to it

[2019-07-18 11:45] holmmikael commented on #191
Thank you @LoneRifle.

Actually it is correct to have two references as the `<Timestamp></Timestamp>` element should be referenced as well.

[2019-07-18 11:45] #191 closed

[2019-08-21 06:46] QAnders commented on #47
Old thread but if someone needs it still:
[code]

[2019-08-21 13:05] QAnders opened #193 "Invalid signature, canonicalization issue?"
Well, first of all I should thank you for your tremendous work!
And I should let you know I am on uncharted territory for me as my knowledge in X.509 and XML Signing is not very high...

So, the problem is that some counterparts using Java applications says my signing is not properly done. However when I verify the signature in Chilkat it says it is valid.

The document itself is a PEPPOL SMP docu

[2019-08-22 11:13] QAnders commented on #193
The error message I have gotten from the Java guys are:
[code]

[2019-08-22 12:01] QAnders commented on #193
Well, I "line-breaked" the Certificate into 76 char per line with `\r\n` after each line and now Java is happy!

[2019-08-22 12:01] #193 closed

[2019-09-12 07:05] pks90 commented on #167
@bazzadp @LoneRifle  , I am getting this same issue , I checked that the xml-crypto version being used by the passport-saml in my case is ^1.1.4

[2019-09-12 07:23] LoneRifle commented on #167
The issue has been fixed properly in later versions. Could you find a way to pick that up in your project please?

[2019-09-24 08:01] Bytegardener opened #194 "Support for encryptio"
Hi there,
Many thanks for the a great library.
Just checking to see if support for encryption has been added?
I am currently signing xml documents using this package, and trying to use another one to encrypt, but am unable to do so.

[2019-09-24 08:23] LoneRifle commented on #194
Hi @Bytegardener - this library is currently being passively maintained, so it is unlikely that we will add support for encryption. Hope this helps!

[2019-09-24 08:28] Bytegardener commented on #194
Hi @LoneRifle  thanks for the prompt response.
Do you/the team provide your services (at a fee) to other companies in this area (namely encryption/signing xml documents in node?)

[2019-09-24 15:14] LoneRifle commented on #194
I'm afraid we don't! We're just volunteering our time to oversee PRs submitted against this repo. You may want to consider IssueHunt to find someone willing to take this on

[2019-09-25 06:24] Bytegardener commented on #194
Thanks very much. I'll look into Issue Hunt.

[2019-09-25 06:24] #194 closed

[2019-10-03 22:07] nicosabena opened #195 "Unnecessary new line and whitespace normalization in canonicalization alg"
Hi guys.
After troubleshooting some signature validation errors on SAML responses (specifically, unmatching digests), I think I found a couple of things currently done on the algorithms that should not be done. In particular:

- Normalization of line endings for element text:
https://github.com/yaronn/xml-crypto/blob/40bd9e8f8787c9c996572fe5937572506b9e43d1/lib/utils.js#L69
- Normalization of whit

[2019-10-08 16:16] AshwithGundu opened #197 "Format Required"
Hi

I would like to generate the payload as mentioned

`<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">
   <SOAP-ENV:Header>
      <wsse:Security SOAP-ENV:mustUnderstand="1" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
         <wsu:Timestamp wsu:Id="Timestamp-f1cd885f-336f-45cc-8c47-cdd78b4cd43b" xmlns:wsu="http://d

[2019-10-17 20:06] markstos commented on #170
Are there sections of the XML signature spec that address the correct behavior here?
https://www.w3.org/TR/xmldsig-core2/

[2019-11-13 03:32] sweetodev opened #198 "Urgent - Transform Algorithm enveloped signature"
**Urgent help please.** I'm signing a SAML Response, The site samltool.com is generating following xml in the signature, and is what expected from the SP as well, What do I need to change to achieve this?

### Expectation

[code]

Currently value

[code]

**from the code**

[code]

[2019-11-15 06:22] #198 closed

[2019-11-15 06:26] sweetodev opened #199 "Mismatch SignatureValue of the signature if compared with samltool"
xml-crypto is not generating the correct value for the SignatureValue for the signature. I've verified by feeding the same XML repeatedly to xml-crypto and there's a mismatch in the output.

The SignatureValue value from samltool works with SP but the one xml-crypto generates doesn't.

DigestValue is correct and matches the one from samltool.

[code]

[2019-11-15 20:20] mcorossigo commented on #186
Hello @yaronn

I am experiencing this error too and it's driving me crazy. While I don't expect that you trouble shoot stuff for me, can you give me an hint about what may be wrong? Thank you!

[2019-12-15 08:50] joeljb opened #200 "invalid signature"
Buenos días estoy tratando de firmar un xml cuando coloco

sig.addReference(xpath, ["http://www.w3.org/2000/09/xmldsig#enveloped-signature", "http://www.w3.org/TR/2001/REC-xml-c14n-20010315"],"http://www.w3.org/2001/04/xmlenc#sha256","","","",false)
lo valida pero cuando cuando coloco

sig.addReference(xpath, ["http://www.w3.org/2000/09/xmldsig#enveloped-signature", "http://www.w3.org/TR/2001/REC-

[2019-12-19 02:02] paulish opened #201 "unable to sign nodes with namespace prefix"
here is xml:
[code]

I want to sign all nodes with `wsu:Id` attribute.

The code to sign is:
[code]

The problem is that there is no way to pass namespaces to xpath. And that no default namespace resolver is used.

The error I get:
[code]

[2020-01-14 07:56] colourful-land commented on #200
Looking at the code,

- If you give `isEmptyUri` a `false` value, as in your first example, then the ID of the node at xpath will be used, which works in your first example.

- If you give `isEmptyUri` a `true` value, then the first parameter will be ignored, which caused the digest error in your second example.

https://github.com/yaronn/xml-crypto/blob/40bd9e8f8787c9c996572fe5937572506b9e43d1/li

[2020-01-19 11:57] zygimantus commented on #60
So, InclusiveNamespaces are not supported yet?

[2020-01-19 12:05] zygimantus commented on #189
Hi, I am facing same issue, I would like to add InclusiveNamespaces tags but now sure where do I begin. Maybe you solved this?

[2020-01-20 12:37] crabey commented on #189
@zygimantus yes, I changed some things in `signed-xml.js`. Some of these changes use hardcoded values that are specific for my use case. But it does work for me, so maybe it can be helpful for you as well. Just tweak it to your requirements.

[code]

[2020-01-27 16:24] #168 closed

[2020-01-28 17:00] markstos opened #202 "Consider replacing unmaintained xpath.js dependency?"
This project depends on xpath.js which is not maintained:

https://github.com/yaronn/xpath.js

It has minimal docs and tests and bug reports as far back as 5 years ago have no comments on them.

Meanwhile, someone has forked the project, written it in TypeScript and expanded the docs and test coverage. For a project like `xml-crypto` having a dependency with the addition of type safety seems like

[2020-01-28 17:01] markstos commented on #202
( I'm not related to the xpath TypeScript project. I'm the maintainer of passport-saml which depends on xml-crypto. However, since xml-crypto exposes xpath, the quality of the dependency affects us as well. )

[2020-01-29 02:16] markstos commented on #202
@LoneRifle Thanks! I'll check out that alternate package.

[2020-01-29 02:16] #202 closed

[2020-03-05 13:42] diegomolinavera opened #203 "Wrong format with C14N Canonalization"
I used the example on the web page but with a slightly modification and I'm getting everything in just one line, it should be formatted properly as it shown on the README.

[code]

The output is:

[code]

My concern is - Iack of knowledge on this - If is not well formatted and I sign this document again because is part of another xml document, it will generate a different signature, right?

[2020-04-02 20:02] jmbrito01 opened #204 "Signing elements inside <Signature>"
I'm trying to use xml-crypto to sign some ISO-20022 messages following the Brazilian Central Bank pattern, one of the requirements is to create a signature from the x509 KeyInfo.
Is there a way today to use addReference to sign elements inside the Signature element?

I need something like this:
`<Envelope xmlns="pacs.008.spi.1.0.xsd">    <AppHdr>       (...)       <Sgntr>          <ds:Signature xm

[2020-04-03 00:53] #195 closed

[2020-04-13 11:26] kushbhandari opened #208 "xml-crypto-1.5.1 is heavy on dependancies"
Not sure if its intentional but I see many dependancies are added as part of version - 1.5.1 - is that expected? I see @babel/* packages added plus 100s more.

[2020-04-13 11:45] LoneRifle commented on #208
The only change I have done for 1.5.1 is the change of ejs version:
https://github.com/yaronn/xml-crypto/commit/3d14db05018cea0ef86fb89c53395c238d7f739f

If you're referring to `npm-shrinkwrap`, that's there to lock down the dependencies, so that we don't pick up later versions of ejs that would not work on node 0.10.x

Which version are you upgrading from?

[2020-04-13 12:02] dangh commented on #208
@LoneRifle shouldn't we exclude dev dependencies from shrinkwrap?

[2020-04-13 12:18] kushbhandari commented on #208
@LoneRifle - upgrading from 1.4.1 to 1.5.1

[2020-04-13 12:39] LoneRifle commented on #208
I'll think about how to tackle this - my main concern is that without shrinkwrap, node 0.10.x pulls in a later version of ejs, causing Travis to break

[2020-04-13 13:05] LoneRifle commented on #208
The only significant change from 1.4 is the adding of callback arguments. If this is something you don't need, you can hold off on upgrading for now.

[2020-04-13 13:27] #208 closed

[2020-04-13 13:30] LoneRifle commented on #208
Thanks for your patience - pick up 1.5.2 and see if that works better for you

[2020-04-13 14:41] kushbhandari commented on #208
thanks @LoneRifle , will check this version.

[2020-04-15 12:42] mightypenguin commented on #200
Not sure if this is related but I get the "invalid signature" error from v1.4.1 onwards (using passport-saml v1.3.3)

[2020-04-19 21:05] andersonAlmeida commented on #47
@QAnders tks man

[2020-04-21 19:27] jasonhjohnson commented on #186
@git-nikhilbhardwaj @mcorossigo I'm having the same issue. Did you ever resolve it?

[2020-04-27 11:03] Flyingpeanut opened #210 "enveloped signature transform without c14n-20010315 workaround"
Hi,
First of all I would like to apologize if my issue is redundant, I am not very experienced in xml signatures.
I would like to sign my document with only enveloped-signature as transform
I have based my code on #93 solution
I use this function to sign
[code]
It shouldn't be relevant I am have taken this from another issue #47 to create the X509Data
[code]

, but when I run with REC-xml-c14n-200

[2020-05-11 11:00] bermr commented on #204
hey! did you get any success with that?

[2020-05-20 19:29] niladrinic opened #212 "Wrong Digest Value generated. Actual XML and Expected XML is not matching. Working from last three nights."
Dear All,
   I have used this library to generate a signature which is done at root level. The signed xml is not matching as per the expected xml. The digested value and signature value is not matching with real real value. Can't figure this out working from last three night and almost gone mad. please help me out.

[code]

**Output XML is:**

[code]

---------------------
Expected Output is: (Dif

[2020-05-20 19:29] niladrinic commented on #212
<Esign AuthMode="1" aspId="TNIC-001" kycId="" ekycIdType="A" responseSigType="pkcs7" responseUrl="https://nic-esigngateway.nic.in/eSign21/response?rs=localhost:8080/Esign_client/hello1" sc="Y" ts="2020-05-19T11:28:01" txn="999-ESIGN-DIVISION-2020-05-19T11:28:01" ver="2.1"> <Docs> <InputHash docInfo="hello" hashAlgorithm="SHA256" id="1">5df2936623312f38371871bf5226e666c66318329d826bf7db544237096a83

[2020-06-01 04:37] LuisEdgardo commented on #168
Hola amigos, su apoyo por favor: Al firmar una factura xml tengo el siguiente mensaje de error de validación:

SignatureValue SÍ es válido La forma canónica del nodo SignedInfo es <ds:SignedInfo xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><ds:CanonicalizationMethod Algorithm="http://www.w3.org/2001/10/xml-exc-c14n#"></ds:CanonicalizationMethod><ds:SignatureMethod Algorithm="http://www.w3.org/200

[2020-06-03 12:16] meetDeveloper opened #213 "Documentation is very sparse"
Can you add in documentation that we can have signature value using `sig.signatureValue` after loading signature? Is this intended to be exposed, can I use this in my project?

[2020-06-11 09:03] Arsira-star opened #214 "I got an Error "PEM_read_bio_PrivateKey failed""
var xml = "XXXXX"

            var sig = new SignedXml()
            sig.addReference("//*[local-name(.)='book']")
            sig.signingKey = '-----BEGIN PRIVATE KEY-----\n'
            sig.signingKey += getResult.certSubject+'\n'
            sig.signingKey += '\n-----END PRIVATE KEY-----'
            sig.signingKey += '\n-----BEGIN CERTIFICATE-----\n'
            sig.signingKey += getResult.cer

[2020-07-21 22:16] gabucito commented on #176
Were you able to solve this?

I am getting the same problem

[2020-07-22 02:32] gabucito commented on #176
I have been trying to figure the problem for the past few hours and it seems it lies with the `xmldom` library.

Specifically with this function:
`new Dom().parseFromString(xml)`

I am not sure why, but in my use case it adds the root `xmlns` to child nodes (not all of them) that have more than one instance.

[2020-08-13 19:20] VaLThieL opened #215 "create a signature inside an element"
Well I need the signature element be inside another like in the image, cant create other element near in the same level to use after or before, please if can you help me with that

![image](https://user-images.githubusercontent.com/22184689/90177217-d998ce80-dd6f-11ea-9426-77c30ba06856.png)

[2020-08-13 19:59] #215 closed

[2020-08-13 19:59] VaLThieL commented on #215
sry my bad, do it with append, thanks for the tool

[2020-08-16 07:35] VaLThieL opened #216 "Signature did not verify"
I'm stuck by several days on this. The digest is correct but when I verify the xml generated, I got the signature is invalid

here's my code

`
		const soap = require('soap');
		const fs = require('fs');
		const JSZip = require("jszip");
		const SignedXml = require('xml-crypto').SignedXml;
		const select = require('xml-crypto').xpath;
		const dom = require('xmldom').DOMParser;
		const forge = requ